<div class="title" style="margin-bottom: 0px;">Đánh giá
</div>
<div class="dtr_search_order" style="margin: 0 5% 2% 5%;">
    <div class="dtr-salign-order">
        <input id="search-button-order" style="padding: 3px;" type="search" placeholder="Tìm kiếm...">
    </div>
</div>

<div class="waiting-content" style="width:90%;">
    <table class="list">
        <thead>
            <tr>
                <th>Mã đánh giá</th>
                <th>Thời gian</th>
                <th>Nội dung</th>
            </tr>
        </thead>
        <tbody id="receive-body">

            {{#each feedback}}
            <tr>
                <td>{{this.feedback_id}}</td>
                <td>{{formatDate this.feedback_time}}</td>
                <td>
                    {{this.feedback}}
                </td>
            </tr>
            {{/each}}
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<br>







<script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
<script>
    function formatDate(date) {
        if (date) {
            let option = { hour: "2-digit", minute: "2-digit", second: "2-digit" };
            return new Date(date).toLocaleDateString("vi-VN", option);
        }
    }
    $(document).ready(function () {
        $("#search-button-order").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#receive-body tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })
</script>