.chart-container {
  position: relative;
  height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 80%;
  background: #fff;
  border-radius: 20px;
  box-shadow: $shadow;
  padding: 5px;
  margin: 0 auto;
  margin-top: 30px;
  h2 {
    text-align: center;
    font-size: 25px;
  }
  &.support-done-chart {
    width: 400px;
    height: 450px;
    margin: 0;
    margin-top: 30px;
  }
  
}
