.image-preview {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}
#image-preview {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px dashed rgb(189, 189, 189);
}