@import 'variables';
.wait {
    width: 100%;
    margin: 0;
    margin-top: 60px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .header-title {
        position: relative;
        text-align: center;
        color: $dark-blue;
        font-size: 26px;
    }
    
}
.content{
    background-color: #ffffff;
    border-radius: 20px;
    width: 650px;
    box-shadow: 1px 1px 2px 2px #d3d3d3;


}
table{
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.05em;
}
.detail-buttons{
  width: max-content;
}
  table td{
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-top: #b0b0b5 solid 0.1px;
  }
  table tr{
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
  table th{
    background-color: white;
    font-size: 20px;
    color: black    ;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 2;
  }

  .buttondetail {
    background: $back-grey;
    border-radius: 3px;
    color: $dark-blue;
    line-height: 1.7;
    font-size: 18px;
    width: 4em;
    border: none;
  }
  /* .buttondetail:hover {
    color: #fff;
  } */
.buttondetail:hover{
  background-color: #b0b0b5;
}
.buttondetail:active{
  background-color: $orange;
}
.note{
  color: #b0b0b5;
  font-style: italic;
}