<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import 'variables';
footer {
  position: relative;
  top: 100%;
  bottom: 0;
  width: 100%;
  height: 200px;
  left: 0;
}
#footer-container {
  background: rgb(244,127,65);
  background: linear-gradient(78deg, rgba(244,127,65,1) 0%, rgba(241,85,106,1) 100%);
  margin: auto;
  padding-left: 145px;
  padding-right: 145px;
  padding-top: 20px;
  .section-footer {
    display: flex;
    position: relative;
    float: left;
  }
}

.about-info-footer {
  float: left;
  width: 60%;
  margin-right: 50px;
  margin-left: 0;
  h2, p {
    color: #fff;
    text-align: justify;
  }
  h2 {
    font-size: 20px;
  }
}

.social-media {
  float: right;
  margin-left: auto;
  ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 4px;
    font-size: 20px;
    z-index: 1;
  }
  ul li:hover {
    background: #fff;
  }
  ul li:hover > a i {
    color: rgb(244,127,65);
  }
  ul li a i, h3 {
    color: #fff;
  }
  ul .youtube, ul .website {
    margin-left: 40px;
  }
  ul {
    margin-top: 20px;
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .about-info-footer {
    float: left;
    width: 50%;
    h2, p {
      color: #fff;
      text-align: justify;
      font-size: 90%;
    }
  }
  .social-media {
    ul li {
      width: 30px;
      height: 30px;
      border: 1px solid #fff;
      border-radius: 50%;
      text-align: center;
      justify-content: center;
      padding-top: 4px;
      font-size: 15px;
      z-index: 1;
    }
    h3 {
      font-size: 90%;
=======
#site-footer {
  position: relative;
  height: $footer-height;
  margin-top: calc(-1 * $footer-height);
  clear: both;
}

.site-footer {
  background: rgb(3, 184, 226);
  background: linear-gradient(
    300deg,
    rgba(3, 184, 226, 1) 0%,
    rgba(33, 82, 255, 1) 100%
  );
  padding: 10px 20px 10px 80px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  //   margin-top: 30px;
  width: 100%;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.footer-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .text-justify {
    text-align: justify;
  }
  .footer-copyright {
    .copyright-text {
      a {
        color: #fff;
        font-weight: bold;
      }
    }
  }
}

.footer-social-container {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 50px;
  padding-right: 50px;
  .footer-social {
    margin-left: auto;
    margin-right: 0;
    .social-icons {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      li {
        display: inline-block;
        background: #fff;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
        a {
          width: inherit;
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          font-size: 20px;
          border-radius: 50%;
          &.facebook {
            color: $primary-blue;
          }
          &.youtube {
            color: red;
          }
          &.instagram {
            color: rgb(192, 0, 166);
          }
        }
        &:hover {
          background: $back-grey;
        }
      }
    }
  }
  .footer-copyright {
    margin: auto 0;
    margin-left: 0;
    margin-right: auto;

    .copyright-text {
      margin: 0;
    }
  }
}

@media screen and (max-width: 744px) {
  .site-footer {
    padding-left: 20px;
    padding-right: 20px;
    .footer-about-container {
      .about-us {
        h6 {
          font-size: 17px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .footer-social-container {
    padding-left: 0;
    padding-right: 0;
    .footer-social {
      margin-left: auto;
      margin-right: auto;
    }
    .footer-copyright {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 400px) {
  .footer-social-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    .footer-social {
      margin-left: auto;
      margin-right: auto;
    }
    .footer-copyright {
      margin: 0 auto;
      margin-top: 20px;
>>>>>>> nam/BaoNguyen
    }
  }
}
