@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$orange: rgb(243, 109, 82);
$back-grey: #f6f8fa;
$dark-blue: #0e2b6c;
$header-height: 3rem;
$nav-width: 68px;

/*===== Colors =====*/
$first-color: #4723d9;
$first-color-light: #afa5d9;
$white-color: #f7f6fb;

/*===== Font and typography =====*/
$body-font: 'Popins', sans-serif;
$normal-font-size: 1rem;

/*===== z index =====*/
$z-fixed: 100;
$shadow: 2px 2px 2px #b0b0b5;
