@import 'variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $back-grey;
  min-height: 100%;
}

@import 'container';
@import 'navbar';
@import 'login';
@import 'footer';
// @import 'sidebar';
@import 'profile';
@import 'customer/support';
@import 'customer/waiting';
@import 'customer/doctor';
@import 'customer/shipping';
@import 'volunteer/receive';
@import 'volunteer/accept';
@import 'admin/admin';
@import 'new_sidebar';