@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'variables';
@import 'animations';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background: $back-grey;
  min-height: 100vh;
  height: 100%;
  color: $dark-blue;
}

@import 'container';
@import 'new_sidebar';
@import 'login';
@import 'footer';
@import 'homepage';
@import 'profile';
@import 'customer/support';
@import 'customer/waiting';
@import 'customer/doctor';
@import 'customer/shipping';
@import 'volunteer/receive';
@import 'volunteer/accept';