// @import url(variables);
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  transition: 0.5s;
}
.card {
  position: relative;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 95%;
  cursor: pointer;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.05);
  }
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
  h3 {
    font-size: 21px;
  }
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  &1 {
    background-color: #47bcd4;
  }
  &2 {
    background-color: #df9323;
  }
  &3 {
    background-color: #05be05;
  }
  &4 {
    background-color: #df232c;
  }
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
}

.user img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin: auto 0;
}
.user-info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto 0;
  margin-left: 10px;
  h5 {
    margin-bottom: 0;
  }
  small {
    color: #545d7a;
  }
}

.user-info-address {
  position: relative;
  margin: 10px 0 0 auto;
}
/********************
* CARD MODAL DESIGN
*********************/
// .card-modal {
//   width: 400px;
//   height: 80%; 
//   overflow-y: auto;
//   position: absolute;
//   left: auto;
//   right: 20px;
//   top: 66px;
//   margin-left: auto;
//   margin-right: auto;
//   background: #fff;
//   border-top: 1px solid rgb(192, 192, 192);
//   display: none;
//   box-shadow: $shadow;
//   border-radius: 10px;
//   padding: 5px;
//   transition: all 0.5s ease-in;
//   .btn-collapse {
//     width: 100%;
//     margin-bottom: 0;
//     margin-top: auto;
//   }
//   .card-modal-close-btn {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     align-items: flex-end;
//     padding-right: 10px;
//     padding-top: 10px;
//   }
//   .card-modal-header {
//     border-bottom: 1px solid rgb(207, 207, 207);
//     .user {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       .user-info {
//         justify-content: center;
//         align-items: center;
//       }
//       .user-info-address {
//         margin: 0;
//         margin-top: 30px;
//         text-align: center;
//       }
//     }
//   }
//   .card-modal-body {
//     position: relative;
//     height: max-content;
//     overflow-y: auto;
//     .card-modal-body-title {
//       text-align: center;
//       margin-top: 20px;
//     }
//     .card-modal-body-content {
//       height: max-content;
//       .card-item-container {
//         display: flex;
//         flex-direction: row;
//         background: $back-grey;
//         height: 50px;
//         border-radius: 10px;
//         margin: auto 0;
//         justify-content: center;
//         align-items: center;
//         justify-content: space-between;
//         margin-top: 10px;
//         h4 {
//           position: relative;
//           margin: auto 0;
//           margin-left: 10px;
//         }
//         button {
//           height: 40px;
//           i {
//             font-size: 18px;
//             position: relative;
//             margin-top: 5px;
//           }
//           &:last-child {
//             margin-right: 10px;
//           }
//         }
//       }
//       .item-completed {
//         background: rgb(59, 59, 59);
//         h4 {
//           color: #fff;
//         }
//       }
//     }
//   }
// }
#confirm-done-order {
  width: 100%;
  display: flex;
  flex-direction: row;
  #button-addon2 {
    width: 150px;
  }
}
.modal-active {
  display: block;
}
/****************************************
*  RESPONSIVE DESIGN
*****************************************/
@media screen and (max-width: 1267px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    .card {
      * {
        font-size: 16px;
      }
      .card-body {
        h3 {
          font-size: 19px;
        }
      }
    }
  }
}
@media screen and (max-width: 744px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}
@media screen and (max-width: 489px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
  }
  .card-modal {
    width: 98%;
    left: 0;
    right: 0;
    height: max-content;
  }
}