<div class="content-container" id="content-container">
    <div class="title">YÊU CẦU ĐÃ GỬI</div>
    <div class="receive-container">
        <div class="receive-filter">
            <select name="field1" class="receive-field-select">
                <option value="Thủ Đức">Thủ Đức</option>
                <option value="Quận 1">Quận 1</option>
                <option value="Quận 2">Quận 2</option>
                <option value="Quận 3">Quận 3</option>
                <option value="Quận 4">Quận 4</option>
                <option value="Quận 5">Quận 5</option>
            </select>
        </div>
        <div class="receive-tb-container">
            <table id="receive-tb">
                <thead>
                    <tr>
                        <th>Mã đơn</th>
                        <th>Tên khách hàng</td>
                        <th>Địa chỉ nhận</th>
                        <th>Thời gian tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#1234</td>
                        <td>Thúy Ngân</td>
                        <td>Số 12B, đường Võ Văn Ngân</td>
                        <td>12:00AM 12/11/2021</td>
                        <td>
                            <div class="receive-btn-area">
                                {{!-- <button type="button" class="btn btn-light">Chi tiết</button> --}}
                                <button type="button" class="btn btn-success">Nhận</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>#4567</td>
                        <td>Hoài Nam</td>
                        <td>123, đường số 4, quận 5, TP Hồ Chí Minh</td>
                        <td>12:00AM 12/11/2021</td>
                        <td>
                            <div class="receive-btn-area">
                                {{!-- <button type="button" class="btn btn-light">Chi tiết</button> --}}
                                <button type="button" class="btn btn-success">Nhận</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
