<div class="main-container">
    <div class="content-container" id="content-container">
        <div class="overview">
            <div class="admin-summary admin-summary-1">
                <h5>Đã tiếp nhận</h5>
                <h2>156</h2>
                <h5>yêu cầu</h5>
            </div>
            <div class="admin-summary admin-summary-2">
                <h5>Hỗ trợ cho</h5>
                <h2>240</h2>
                <h5>bệnh nhân</h5>
            </div>
            <div class="admin-summary admin-summary-3">
                <h5>Số tình nguyện viên</h5>
                <h2>120</h2>
            </div>
        </div>
        <div style="position: relative; height:400px; width:400px;">
            <canvas id="myChart" width="100%" height="100%"></canvas>
        </div>
        <div class="order-status">
            <h4>Danh sách yêu cầu</h4>
            <table class="order-table">
                <thead>
                    <tr>
                        <th>Mã đơn</th>
                        <th>Họ và tên</th>
                        <th>Địa chỉ</th>
                        <th>Thời điểm yêu cầu</th>
                        <th>Thời điểm tiếp nhận</th>
                        <th>Loại</th>
                        <th>Trạng thái</th>
                        <th>Tổng giá trị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#4572</td>
                        <td>Nguyễn Thị A</td>
                        <td>234, đường số 3, quận 5</td>
                        <td>10:34 21-10-2021</td>
                        <td>15:12 21-10-2021</td>
                        <td>Thuốc</td>
                        <td class="done">Hoàn thành</td>
                        <td>550.000đ</td>
                    </tr>
                    <tr>
                        <td>#1234</td>
                        <td>Trần Thị Bé</td>
                        <td>123, tổ 9, khu phố 7</td>
                        <td>20:10 20-09-2021</td>
                        <td>14:34 23-10-2021</td>
                        <td>Lương thực</td>
                        <td class="sent">Đã gửi</td>
                        <td>400.000đ</td>
                    </tr>
                    <tr>
                        <td>#1234</td>
                        <td>Nguyễn Thiên Ân</td>
                        <td>277, ấp Tân Tịch, Tịnh Thới</td>
                        <td>11:30 20-10-2021</td>
                        <td>14:12 21-10-2021</td>
                        <td>Lương thực</td>
                        <td class="received">Đã nhận</td>
                        <td>550.000đ</td>
                    </tr>
                </tbody>
            </table>
            <script src="/js/tableSort.js"></script>
        </div>
        <div class="order-status">
            <h4>Danh sách tình nguyện viên</h4>
            <table class="order-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ và tên</th>
                        <th>Địa chỉ</th>
                        <th>Yêu cầu thực hiện</th>
                        <th>Giờ hoạt động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#TNV1</td>
                        <td>Nguyễn Thị A</td>
                        <td>234, đường số 3, quận 5</td>
                        <td>234</td>
                        <td>124.6</td>
                    </tr>
                    <tr>
                        <td>#TNV1</td>
                        <td>Nguyễn Thị A</td>
                        <td>234, đường số 3, quận 5</td>
                        <td>234</td>
                        <td>124.6</td>
                    </tr>
                    <tr>
                        <td>#TNV1</td>
                        <td>Nguyễn Thị A</td>
                        <td>234, đường số 3, quận 5</td>
                        <td>234</td>
                        <td>124.6</td>
                    </tr>
                    <tr>
                        <td>#TNV1</td>
                        <td>Nguyễn Thị A</td>
                        <td>234, đường số 3, quận 5</td>
                        <td>234</td>
                        <td>124.6</td>
                    </tr>
                </tbody>
            </table>
            <script src="/js/tableSort.js"></script>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/js/chart.js"></script>

<script src="/js/new_sidebar.js"></script>

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
    integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></> --}}
