<div class="content-container" id="content-container">
  <div class="order-status">
    <h4>Danh sách tình nguyện viên</h4>
    <table class="order-table" id="support-table">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Ngày tạo</th>
          <th>Họ và tên lót</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>Yêu cầu đã nhận</th>
          <th>Yêu cầu hoàn thành</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#12</td>
          <td>21-10-2021 15:30</td>
          <td>Nguyễn Thị</td>
          <td>An</td>
          <td>0912456789</td>
          <td>145</td>
          <td>144</td>
        </tr>
        <tr>
          <td>#16</td>
          <td>12-10-2021 15:30</td>
          <td>Nguyễn Thiên</td>
          <td>Công</td>
          <td>0913542167</td>
          <td>167</td>
          <td>160</td>
        </tr>
        <tr>
          <td>#25</td>
          <td>19-10-2021 15:30</td>
          <td>Nguyễn Trần Phước</td>
          <td>Tài</td>
          <td>0894256624</td>
          <td>180</td>
          <td>180</td>
        </tr>
        <tr>
          <td>#25</td>
          <td>19-10-2021 15:30</td>
          <td>Nguyễn Trần Phước</td>
          <td>Tài</td>
          <td>0894256624</td>
          <td>89</td>
          <td>89</td>
        </tr>
        <tr>
          <td>#25</td>
          <td>19-10-2021 15:30</td>
          <td>Nguyễn Trần Phước</td>
          <td>Tài</td>
          <td>0894256624</td>
          <td>45</td>
          <td>45</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="chart-container support-done-chart">
    <canvas id="support-done-chart" width="100%" height="100%"></canvas>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
  integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  const ctx2 = document.getElementById('support-done-chart').getContext('2d');
  new Chart(ctx2, {
    type: "pie",
    data: {
      labels: ["Đã hoàn thành", "Tiếp nhận", "Đã gửi"],
      datasets: [{
        // tension: 0.4,
        // borderWidth: 0,
        // pointRadius: 0,
        // borderColor: "#DA007A",
        // borderWidth: 0,
        backgroundColor: ["#cb0c9f", "#17c1e8", "#f53939"],
        fill: true,
        data: [24, 10, 66]
      },
      ]
    },
    options: {

      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        title: {
          display: true,
          position: 'top',
          text: 'Phần trăm thực hiện yêu cầu tiếp tế',
          font: {
            size: 20
          }
        },
        legend: {
          display: true,
          labels: {
            font: {
              size: 16
            }
          }
        }
      },
      /*interaction: {
        intersect: false,
        mode: 'index',
      }*/
    },
  });
</script>