<div class="content-container" id="content-container">
  <div class="order-status">
    <h4>Danh sách tình nguyện viên</h4>
    <table class="order-table" id="volunteer-list">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Ngày tạo</th>
          <th>Họ và tên lót</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>Yêu cầu đã nhận</th>
          <th>Yêu cầu hoàn thành</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#12</td>
          <td>21-10-2021 15:30</td>
          <td>Nguyễn Thị</td>
          <td>An</td>
          <td>0912456789</td>
          <td>145</td>
          <td>144</td>
        </tr>
        <tr>
          <td>#16</td>
          <td>12-10-2021 15:30</td>
          <td>Nguyễn Thiên</td>
          <td>Công</td>
          <td>0913542167</td>
          <td>167</td>
          <td>160</td>
        </tr>
        <tr>
          <td>#25</td>
          <td>19-10-2021 15:30</td>
          <td>Nguyễn Trần Phước</td>
          <td>Tài</td>
          <td>0894256624</td>
          <td>180</td>
          <td>180</td>
        </tr>
        <tr>
          <td>#25</td>
          <td>19-10-2021 15:30</td>
          <td>Nguyễn Trần Phước</td>
          <td>Tài</td>
          <td>0894256624</td>
          <td>89</td>
          <td>89</td>
        </tr>
        <tr>
          <td>#25</td>
          <td>19-10-2021 15:30</td>
          <td>Nguyễn Trần Phước</td>
          <td>Tài</td>
          <td>0894256624</td>
          <td>45</td>
          <td>45</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="order-status">
    <h4>Danh sách yêu cầu tình nguyện</h4>
    <table class="order-table" id="volunteer-request">
      <thead>
        <tr>
          <th>Ngày tạo</th>
          <th>Họ và tên lót</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>15:30:03, 12/12/2021</td>
          <td>Nguyễn Thị</td>
          <td>An</td>
          <td>0912456789</td>
          <td>annguyen@gmail.com</td>
          <td><button class="btn bg-gradient-success">Chấp nhận yêu cầu</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>