.dtr-center {
  text-align: center;
  margin: 10px;
}
.dtr-align {
  margin: 10px;
}

.btn-sort {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(0, 42, 250);
  color: rgb(0, 42, 250);
  border-radius: 15px;
  display: block;
}
.btn-sort * {
  display: inline-block;
  margin-right: 5px;
}
.btn-sort:hover {
  background: linear-gradient(78deg, rgb(0, 170, 255) 0%, rgb(0, 42, 250) 100%);
  color: rgb(255, 255, 255);
  border: 0px;
}

.dtr-salign {
  margin-right: 10px;
}
.dtr-salign > button {
  border: 0px;
  margin-right: 10px;
}
.dtr-salign > button:hover {
  color: rgb(1, 126, 251);
  text-shadow: 0px 0px 1px rgb(168, 168, 250);
}
.dtr-salign > input {
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
}
.dtr-salign > input:hover {
  border: 1px solid rgb(118, 118, 118);
}
.dtr_search {
  height: 40px;
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
  .dtr-salign {
    position: relative;
    height: 100%;
    input {
      position: relative;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .dtr-filter {
    select {
      position: relative;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.dtr-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;

  .dtr-block {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    .dtr-block-title {
      display: flex;
      border-bottom: 1px solid rgb(189, 189, 189);

      .dtr-name {
        margin: auto 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
          300deg,
          rgba(3, 184, 226, 1) 0%,
          rgba(33, 82, 255, 1) 100%
        );
      }
      button {
        margin-left: auto;
        margin-right: 0;
      }
    }
    .dtr-block-body {
      display: flex;
      margin-top: 10px;
      .dtr-photo {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
      .dtr-detail {
        display: block;
        margin: auto 0;
        margin-left: 20px;
        span {
          display: flex;
          height: 25%;
          p {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// .dtr-profile-modal {
//   background-color: rgb(255, 255, 255);
//   box-shadow: $shadow;
//   display: none;
//   padding: 10px;
//   border-radius: 10px;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 100px;
//   margin-left: auto;
//   margin-right: auto;
//   width: 60%;
//   height: max-content;
//   z-index: 2;
//   transition: 0.5s;
//   .img-file-dtr {
//     position: relative;
//     width: 100%;
//     object-fit: cover;
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     img {
//       position: relative;
//       width: 200px;
//     }
//   }
//   .btn-out {
//     float: right;
//     margin: 0;
//   }
//   //   box-shadow: 3px 3px 3px;
// }
.modal-dialog {
  max-width: 1000px;
}
#dtr-detail-profile {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  .img-file-dtr {
    img {
      width: 200px;
      position: relative;
      
    }
  }
  .info-dtr {
    padding-left: 20px;
    position: relative;
    width: 100%;
    p {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 937px) {
  .dtr-container {
    grid-template-columns: 1fr 1fr;
    .dtr-block {
      .dtr-block-title {
        .dtr-name {
          margin: auto 0;
          font-size: 17px;
        }
        button {
          margin-left: auto;
          margin-right: 0;
        }
      }
      .dtr-block-body {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .dtr-container {
    grid-template-columns: 1fr;
    .dtr-block {
      .dtr-block-title {
        .dtr-name {
          margin: auto 0;
          font-size: 17px;
        }
        button {
          margin-left: auto;
          margin-right: 0;
        }
      }
      .dtr-block-body {
        font-size: 15px;
        .dtr-photo {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
  }
  .dtr_search {
    position: relative;
    width: 100%;
    .dtr-salign {
      height: 30px;
      input {
        position: relative;
        height: 100%;
        width: 100px;
      }
    }
    .dtr-filter {
      height: 30px;
      select {
        position: relative;
        height: 100%;
        font-size: 13px;
        padding: 0;
        margin: 0;
      }
    }
  }
  .dtr-profile-modal {
    width: 90%;
    font-size: 13px;
    // .img-file-dtr {
    //   img {
    //   }
    // }
  }
}
