$primary-blue: #2152ff;
$back-grey: #ebf0f5;
$dark-blue: #0e2b6c;
$header-height: 3rem;
$nav-width: 68px;


$footer-height: 70px;

$z-fixed: 100;
$shadow: 2px 2px 10px #b0b0b5;
$back-blue-shadow: rgb(48, 129, 216) 0px 5px 30px -10px;
$back-red-shadow: rgb(228, 38, 38) 0px 5px 30px -10px;
