@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*===== Colors =====*/
/*===== z index =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(variables);
@import url(variables);
@import url(variables);
@import url(variables);
@import url(variables);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  background: #ebf0f5;
  min-height: 100%; }

.main-container {
  display: flex;
  margin-top: 60px;
  height: 100%;
  transition: all 0.5s ease; }

.content-container {
  width: 100%;
  padding-left: 260px;
  padding-right: 30px;
  transition: all 0.5s ease; }
  .content-container.content-active {
    padding-left: 80px; }

/*===== Colors =====*/
/*===== z index =====*/
.login-center {
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px; }
  .login-center h2 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    font-weight: bold;
    font-size: 20px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%); }
  .login-center form {
    padding: 0 40px; }
    .login-center form .txt_field {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0; }
      .login-center form .txt_field input {
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none; }
      .login-center form .txt_field label {
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: 0.5s; }
    .login-center form span::before {
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #2152ff;
      transition: 0.5s; }
    .login-center form .log-in-button {
      width: 100%;
      height: 50px;
      border: 1px solid;
      background: #03b8e2;
      background: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
      border-radius: 25px;
      font-size: 18px;
      color: #e9f4fb;
      font-weight: 700;
      cursor: pointer;
      outline: none; }
    .login-center form .log-in-button:hover {
      border-color: #2152ff;
      transition: 0.5s; }

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2152ff; }

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%; }

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer; }

.pass:hover {
  text-decoration: underline; }

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666; }

.signup_link a {
  color: #2152ff;
  text-decoration: none; }

.signup_link a:hover {
  text-decoration: underline; }

.go-to-home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  border: 1px solid;
  background: #2152ff;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: transform 0.5s; }
  .go-to-home-page:hover {
    transform: scale(1.1); }
  .go-to-home-page a {
    text-decoration: none;
    color: #fff; }

/*===== Colors =====*/
/*===== z index =====*/
footer {
  position: absolute;
  top: 100%;
  bottom: 0;
  width: 100%;
  height: 100px;
  left: 0;
  margin: 0;
  padding: 0; }

#footer-container {
  background: #f47f41;
  background: linear-gradient(78deg, #f47f41 0%, #f1556a 100%);
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px; }
  #footer-container .section-footer {
    display: flex;
    position: relative;
    float: left; }

.about-info-footer {
  float: left;
  width: 60%;
  margin-right: 50px;
  margin-left: 0; }
  .about-info-footer h2,
  .about-info-footer p {
    color: #fff;
    text-align: justify; }
  .about-info-footer h2 {
    font-size: 20px; }

.social-media {
  float: right;
  margin-left: auto; }
  .social-media ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 4px;
    font-size: 20px;
    z-index: 1; }
  .social-media ul li:hover {
    background: #fff; }
  .social-media ul li:hover > a i {
    color: #f47f41; }
  .social-media ul li a i,
  .social-media h3 {
    color: #fff; }
  .social-media ul .youtube,
  .social-media ul .website {
    margin-left: 40px; }
  .social-media ul {
    margin-top: 20px;
    display: flex; }

@media screen and (max-width: 800px) {
  .about-info-footer {
    float: left;
    width: 50%; }
    .about-info-footer h2,
    .about-info-footer p {
      color: #fff;
      text-align: justify;
      font-size: 90%; }
  .social-media ul li {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 4px;
    font-size: 15px;
    z-index: 1; }
  .social-media h3 {
    font-size: 90%; } }

/*===== Colors =====*/
/*===== z index =====*/
.profile-container {
  margin: auto 0;
  padding: 0;
  padding-bottom: 20px; }
  .profile-container .header-title {
    position: relative;
    text-align: center;
    color: #0e2b6c; }
  .profile-container .avatar-and-name {
    display: flex;
    justify-content: center;
    position: relative;
    width: max-content;
    margin: 0 auto; }
    .profile-container .avatar-and-name .a-edit {
      height: 150px;
      width: 150px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      border: 1px dashed #2152ff; }
      .profile-container .avatar-and-name .a-edit #photo {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .profile-container .avatar-and-name .a-edit #file {
        display: none; }
      .profile-container .avatar-and-name .a-edit #uploadBtn {
        height: 40px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        line-height: 30px;
        font-family: sans-serif;
        font-size: 12px;
        cursor: pointer;
        display: none; }
    .profile-container .avatar-and-name .profile-name {
      display: block;
      margin: auto 0;
      padding-left: 20px; }
      .profile-container .avatar-and-name .profile-name h2 {
        padding-bottom: 10px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%); }
      .profile-container .avatar-and-name .profile-name h4 {
        color: #a1a1a1; }

.personal-info {
  margin: 0 auto;
  padding-top: 50px;
  width: max-content; }

.edit-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
  margin: 0 auto; }
  .edit-profile .info {
    display: inline-block;
    padding: 8px;
    border: 1px solid #0e2b6c;
    border-radius: 8px;
    background-color: #fff;
    width: max-content; }
    .edit-profile .info label {
      font-size: 16px;
      color: #afafaf; }
    .edit-profile .info input {
      margin-top: 5px;
      border: none;
      outline: none;
      display: block;
      background: none;
      width: 100%;
      height: 20px;
      font-size: 20px;
      padding-left: 0; }
  .edit-profile .left-side {
    display: block;
    width: min-content; }
    .edit-profile .left-side .info {
      width: 100%; }
      .edit-profile .left-side .info:nth-child(2), .edit-profile .left-side .info:nth-child(4) {
        margin-top: 10px;
        margin-bottom: 10px; }
    .edit-profile .left-side .sex-info {
      display: flex;
      margin: 0 auto;
      height: 55px;
      width: max-content; }
      .edit-profile .left-side .sex-info label {
        display: flex;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        padding: 3px 0px 3px 0px;
        overflow: hidden; }
        .edit-profile .left-side .sex-info label input {
          position: absolute;
          left: -9999px; }
          .edit-profile .left-side .sex-info label input:checked + span {
            background-color: #d8dde7; }
            .edit-profile .left-side .sex-info label input:checked + span:before {
              box-shadow: inset 0 0 0 0.4375em #0e2b6c; }
        .edit-profile .left-side .sex-info label span {
          display: flex;
          align-items: center;
          padding: 0.375em 0.75em 0.375em 0.375em;
          border-radius: 10px;
          transition: 0.25s ease; }
          .edit-profile .left-side .sex-info label span:hover {
            background-color: #d8dde7; }
          .edit-profile .left-side .sex-info label span:before {
            display: flex;
            flex-shrink: 0;
            content: '';
            background-color: #fff;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.125em #0e2b6c; }
  .edit-profile .right-side {
    display: block;
    width: 60%;
    margin-left: 40px; }
    .edit-profile .right-side .button-area {
      width: min-content;
      margin-left: auto;
      margin-right: 0; }
      .edit-profile .right-side .button-area .save-profile-btn {
        width: max-content;
        height: max-content;
        padding: 10px;
        font-size: 20px;
        margin-left: auto;
        margin-top: 20px;
        border: none;
        background: #03b8e2;
        background: linear-gradient(300deg, #e26f03 0%, #f35618 100%);
        border-radius: 10px;
        color: #ffffff;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        box-shadow: #e42626 0px 5px 30px -10px;
        transition: transform 0.5s; }
        .edit-profile .right-side .button-area .save-profile-btn:hover {
          transform: scale(1.1); }
    .edit-profile .right-side .info {
      width: 100%;
      height: max-content;
      margin: 0;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px; }
      .edit-profile .right-side .info select {
        border: none;
        background: none;
        position: relative;
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100%; }
      .edit-profile .right-side .info select::after {
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.5s all ease;
        pointer-events: none;
        border: none; }
      .edit-profile .right-side .info:nth-child(2), .edit-profile .right-side .info:nth-child(3) {
        margin-top: 10px; }
      .edit-profile .right-side .info:nth-child(3) {
        padding-left: 5px; }

input {
  border-width: 1px;
  border-radius: 10px;
  border-color: #2727c0;
  height: 50px;
  min-width: 100px;
  padding-left: 10px; }
  input::-webkit-input-placeholder {
    text-indent: 10px; }

select {
  box-sizing: border-box;
  padding: 13px;
  margin: 0px;
  outline: none;
  border-width: 1px;
  border-radius: 10px;
  border-color: #2727c0; }

.content-container form {
  width: 80%;
  margin: 0 auto; }

.content-container .delivery-address {
  position: relative;
  display: flex;
  min-width: 80%;
  justify-content: center;
  align-items: center; }
  .content-container .delivery-address .input-and-btn {
    position: relative;
    width: min-content; }
    .content-container .delivery-address .input-and-btn .choose-address-btn {
      position: absolute;
      right: 0;
      margin-right: 5px;
      top: 5px;
      box-shadow: #3081d8 0px 5px 30px -10px; }
    .content-container .delivery-address .input-and-btn #address {
      width: 700px; }
  .content-container .delivery-address .field-select {
    margin-left: 10px; }

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  margin-top: 35px;
  margin-bottom: 30px; }

/*********************************
 * SUPPORT REQUEST DESIGN AREA
*********************************/
.box-IQN {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative; }
  .box-IQN .support-btn {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    /***************************
    * ADD ROW BUTTON
    ***************************/ }
    .box-IQN .support-btn #add-input-btn {
      margin-right: auto;
      margin-left: 0;
      box-shadow: #3081d8 0px 5px 30px -10px; }
    .box-IQN .support-btn .button-submit-items {
      width: 250px;
      background: #03b8e2;
      background: linear-gradient(300deg, #e26f03 0%, #f31818 100%);
      border: none;
      border-radius: 10px;
      font-size: 18px;
      color: #e9f4fb;
      font-weight: 700;
      cursor: pointer;
      outline: none;
      height: max-content;
      padding-top: 10px;
      padding-bottom: 10px;
      box-shadow: #e42626 0px 5px 30px -10px;
      transition: transform 0.5s; }
      .box-IQN .support-btn .button-submit-items:hover {
        background: #03b8e2;
        background: linear-gradient(300deg, #e26f03 0%, #f31818 100%);
        transform: scale(1.1); }
  .box-IQN #form-support {
    display: block;
    position: relative; }
    .box-IQN #form-support .form-support-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      /*********************
      * REMOVE ROW BUTTON
      **********************/ }
      .box-IQN #form-support .form-support-container .remove-row-btn {
        margin: auto 0;
        margin-left: 20px;
        box-shadow: #e42626 0px 5px 30px -10px; }
      .box-IQN #form-support .form-support-container .tb-1 {
        width: 300px; }
      .box-IQN #form-support .form-support-container .tb-2 {
        width: 150px; }
      .box-IQN #form-support .form-support-container .tb-2,
      .box-IQN #form-support .form-support-container .tb-3 {
        margin-left: 20px; }

.header-title {
  position: relative;
  text-align: center;
  color: #0e2b6c;
  font-size: 26px;
  padding-top: 30px; }

.waiting-content {
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  width: 75%;
  box-shadow: 1px 1px 2px 2px #d3d3d3;
  margin: 0 auto;
  overflow-x: auto; }

.list {
  margin: 0 auto;
  width: 1000px;
  letter-spacing: 0.05em; }
  .list td {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-top: #b0b0b5 solid 0.1px; }
    .list td .detail-buttons {
      width: max-content; }
    .list td .button-detail {
      background: #ebf0f5;
      border-radius: 10px;
      color: #0e2b6c;
      line-height: 1.7;
      font-size: 18px;
      width: 4em;
      height: max-content;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none; }
      .list td .button-detail:hover {
        background-color: #b0b0b5; }
      .list td .button-detail:active {
        background-color: #2152ff; }
  .list tr {
    font-size: 18px;
    padding: 10px;
    text-align: center; }
  .list th {
    background-color: white;
    font-size: 20px;
    color: black;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 2; }

.note {
  color: #b0b0b5;
  font-style: italic;
  text-align: center; }

.dtr-container {
  display: block; }

.dtr-center {
  text-align: center;
  margin: 10px; }

.dtr-align {
  margin: 10px; }

.dtr-color {
  color: #37306c; }

.btn-sort {
  background: white;
  border: 2px solid #002afa;
  color: #002afa;
  border-radius: 15px;
  display: block; }

.btn-sort * {
  display: inline-block;
  margin-right: 5px; }

.btn-sort:hover {
  background: linear-gradient(78deg, #00aaff 0%, #002afa 100%);
  color: white;
  border: 0px; }

.index-drop-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dtr-dropdown {
  position: relative;
  display: inline-block;
  border-radius: 10px; }

.index-drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.index-drop-content a:hover {
  background-color: gainsboro; }

.dtr-dropdown:hover .index-drop-content {
  display: block; }

.dtr-salign {
  margin-right: 10px; }

.dtr-salign > button {
  border: 0px;
  margin-right: 10px; }

.dtr-salign > button:hover {
  color: #017efb;
  text-shadow: 0px 0px 1px #a8a8fa; }

.dtr-salign > input {
  border-radius: 5px;
  border: 1px solid #afafaf; }

.dtr-salign > input:hover {
  border: 1px solid #767676; }

.dtr_search {
  height: 50px;
  display: flex;
  margin-right: 70px;
  justify-content: right; }

.dtr-content1 {
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  flex-direction: row;
  padding-bottom: 2px; }
  .dtr-content1 .dtr-name {
    text-align: start;
    margin: auto 0;
    margin-left: 20px; }
  .dtr-content1 .dtr-detail-btn {
    background: #ebf0f5;
    margin: auto 0;
    margin-left: auto; }

.dtr-content2 {
  display: flex; }

.dtr-contain {
  display: block;
  margin: 10px; }

.dtr-block {
  box-shadow: 2px 2px 10px #b0b0b5;
  border: 0px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  display: inline-block; }

.dtr-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50px;
  margin-top: 20px; }

.block-con {
  width: 20px; }

.dtr-detail {
  display: block;
  font-size: 18px;
  width: 67%;
  padding-top: 10px;
  padding-left: 10px; }
  .dtr-detail span {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 25%;
    padding: 5px; }
    .dtr-detail span p {
      margin-left: 20px;
      font-weight: 400; }

.dtr-profile-modal {
  background-color: white;
  box-shadow: 2px 2px 10px #b0b0b5;
  display: none;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  z-index: 2; }

.img-file-dtr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }
  .img-file-dtr img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%; }

.info-dtr {
  padding-left: 20px;
  padding-right: 20px; }
  .info-dtr p {
    color: #0e2b6c;
    font-size: 16px; }

.btn-out {
  float: right;
  margin: 20px; }

@media only screen and (min-width: 300px) {
  .dtr-block {
    width: 90%; }
  .btn-sort {
    width: 130px;
    height: 30px; }
  .btn-sort * {
    margin: 0px; }
  .dtr-salign > input {
    width: 100px; }
  .img-file-dtr > img {
    height: 300px;
    width: 300px; } }

@media only screen and (min-width: 850px) {
  .dtr-block {
    width: 45%; }
  .btn-sort * {
    margin-right: 5px; }
  .btn-sort {
    height: 30px;
    width: 180px; }
  .dtr-salign > input {
    width: 150px; } }

.shipping-title {
  position: relative;
  text-align: center;
  color: #0e2b6c;
  font-size: 26px;
  padding-top: 30px; }

.shipping-content {
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  width: 80%;
  box-shadow: 1px 1px 2px 2px #d3d3d3;
  margin: 0 auto;
  overflow-x: auto; }

.shipping-list {
  margin: 0 auto;
  width: 1000px;
  letter-spacing: 0.05em; }
  .shipping-list td {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-top: #b0b0b5 solid 0.1px; }
    .shipping-list td .button-detail {
      background: #ebf0f5;
      border-radius: 10px;
      color: #0e2b6c;
      line-height: 1.7;
      font-size: 18px;
      width: 4em;
      height: max-content;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none; }
      .shipping-list td .button-detail:hover {
        background-color: #b0b0b5; }
      .shipping-list td .button-detail:active {
        background-color: #2152ff; }
  .shipping-list tr {
    font-size: 18px;
    padding: 10px;
    text-align: center; }
  .shipping-list th {
    background-color: white;
    font-size: 20px;
    color: black;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 2; }

.shipping-note {
  color: #b0b0b5;
  font-style: italic;
  text-align: center; }

.receive-container {
  position: relative; }
  .receive-container .receive-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px; }
    .receive-container .receive-filter .receive-field-select {
      width: 200px; }
  .receive-container .receive-tb-container {
    position: relative;
    overflow-x: auto;
    width: 85%;
    border-radius: 10px;
    margin: 0 auto; }
  .receive-container #receive-tb {
    position: relative;
    margin: 0 auto;
    width: 900px;
    background: #fff; }
    .receive-container #receive-tb tbody tr td {
      border: 1px solid #c4c4c4;
      font-size: 20px;
      text-align: center;
      padding: 5px;
      width: fit-content; }
      .receive-container #receive-tb tbody tr td .receive-btn-area {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 auto; }
        .receive-container #receive-tb tbody tr td .receive-btn-area button {
          margin-left: 5px;
          margin-right: 5px;
          font-size: 14px; }
      .receive-container #receive-tb tbody tr td:nth-child(3) {
        text-align: start; }
    .receive-container #receive-tb thead {
      background: #03b8e2;
      background: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%); }
      .receive-container #receive-tb thead tr th {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        text-align: center;
        height: 50px;
        border: 1px solid #c4c4c4;
        padding: 5px;
        width: fit-content; }
        .receive-container #receive-tb thead tr th:nth-child(4) {
          width: 130px; }

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 5px;
  padding-right: 40px; }

.card {
  position: relative;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 95%;
  cursor: pointer;
  transition: transform 0.4s; }
  .card:hover {
    transform: scale(1.05); }

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover; }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px; }

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer; }

.tag-teal1 {
  background-color: #47bcd4; }

.tag-teal2 {
  background-color: #df9323; }

.tag-teal3 {
  background-color: #05be05; }

.tag-teal4 {
  background-color: #df232c; }

.tag-purple {
  background-color: #5e76bf; }

.tag-pink {
  background-color: #cd5b9f; }

.card-body p {
  font-size: 13px;
  margin: 0 0 40px; }

.user {
  display: flex; }

.user img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin: auto 0; }

.user-info {
  margin: auto 0;
  margin-left: 10px; }
  .user-info h5 {
    margin-bottom: 0; }
  .user-info small {
    color: #545d7a; }

.user-info-address {
  position: relative;
  margin-left: auto;
  margin-right: 0; }

/********************
* CARD MODAL DESIGN
*********************/
#card-modal {
  width: 80%;
  height: 600px;
  position: absolute;
  left: 70px;
  right: 70px;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 2px 2px 10px #b0b0b5;
  display: none;
  border-radius: 10px; }
  #card-modal .card-modal-close-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
    padding-top: 10px; }
  #card-modal .card-modal-header {
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    padding: 10px; }
  #card-modal .card-modal-body {
    position: relative;
    height: 70%;
    overflow-y: auto; }
    #card-modal .card-modal-body .card-modal-body-title {
      text-align: center;
      margin-top: 20px; }
    #card-modal .card-modal-body .card-modal-body-content {
      padding-left: 20px;
      padding-right: 20px; }
      #card-modal .card-modal-body .card-modal-body-content .card-item-container {
        display: flex;
        flex-direction: row;
        background: #ebf0f5;
        height: 50px;
        border-radius: 10px;
        margin: auto 0;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px; }
        #card-modal .card-modal-body .card-modal-body-content .card-item-container h4 {
          position: relative;
          margin: auto 0;
          margin-left: 10px; }
        #card-modal .card-modal-body .card-modal-body-content .card-item-container button {
          height: 40px; }
          #card-modal .card-modal-body .card-modal-body-content .card-item-container button i {
            font-size: 18px;
            position: relative;
            margin-top: 5px; }
          #card-modal .card-modal-body .card-modal-body-content .card-item-container button:last-child {
            margin-right: 10px; }
      #card-modal .card-modal-body .card-modal-body-content .item-completed {
        background: #3b3b3b; }
        #card-modal .card-modal-body .card-modal-body-content .item-completed h4 {
          color: #fff; }

.modal-active {
  display: block; }

/*===== Colors =====*/
/*===== z index =====*/
.overview {
  display: flex;
  margin-top: 30px;
  justify-content: center; }

.admin-summary {
  width: 200px;
  height: 130px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin: 0 10px 0 10px; }
  .admin-summary-1 {
    background: rgba(230, 142, 11, 0.2); }
    .admin-summary-1 h5 {
      color: #e68e0b; }
  .admin-summary-2 {
    background: rgba(16, 194, 25, 0.2); }
    .admin-summary-2 h5 {
      color: #10c219; }
  .admin-summary-3 {
    background: rgba(6, 168, 197, 0.2); }
    .admin-summary-3 h5 {
      color: #06a8c5; }

.order-status {
  background: #fff;
  margin-top: 40px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 2px 10px #b0b0b5;
  overflow-x: auto; }

.order-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 1300px; }
  .order-table th {
    cursor: pointer; }
  .order-table .th-sort-asc::after {
    content: '\25b4';
    font-size: 25px; }
  .order-table .th-sort-desc::after {
    content: '\25be';
    font-size: 25px; }
  .order-table thead tr th {
    border-bottom: 2px solid #000;
    padding: 10px 0 10px 0; }
    .order-table thead tr th:nth-child(1) {
      padding-left: 10px; }
    .order-table thead tr th:last-child {
      padding-right: 10px; }
  .order-table tbody tr {
    border-bottom: 1px solid #797979; }
    .order-table tbody tr td {
      padding: 15px 0 15px 0; }
      .order-table tbody tr td:first-child {
        padding-left: 10px; }
      .order-table tbody tr td:last-child {
        padding-right: 10px; }
    .order-table tbody tr .done,
    .order-table tbody tr .sent,
    .order-table tbody tr .received {
      text-align: start; }
    .order-table tbody tr .done {
      color: #10c219; }
    .order-table tbody tr .sent {
      color: #df0000; }
    .order-table tbody tr .received {
      color: #e2ad00; }
    .order-table tbody tr:last-child {
      border-bottom: none; }

/*===== Colors =====*/
/*===== z index =====*/
:root {
  --header-height: 3rem;
  --nav-width: 70px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --z-fixed: 100; }

/*===== HEADER =====*/
.header {
  width: 100%;
  height: calc(var(--header-height) + 1rem);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: var(--z-fixed);
  padding-left: 70px;
  padding-right: 70px;
  transition: 0.5s; }
  .header .header-logo {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%); }
    .header .header-logo h2 {
      font-weight: bold; }
  .header .header__account-area {
    display: flex; }
    .header .header__account-area .header__sign-in {
      margin-left: auto;
      margin-right: 0;
      padding: 10px; }
      .header .header__account-area .header__sign-in a {
        position: relative;
        width: 100%;
        text-decoration: none;
        color: #2152ff;
        text-align: center; }
      .header .header__account-area .header__sign-in:hover {
        background: #f1f1f1;
        border-radius: 10px;
        padding: 10px; }
    .header .header__account-area .header__img {
      display: flex;
      width: 44px;
      height: 44px; }
      .header .header__account-area .header__img img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin: auto; }
  .header .header__toggle {
    color: #0e2b6c;
    font-size: 1.5rem;
    cursor: pointer; }

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #fff;
  padding: 5px 0 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed); }
  .l-navbar .nav__list .nav__name {
    display: none; }
  .l-navbar .nav__logo-name {
    display: none; }
  .l-navbar .nav__logo-image {
    display: block;
    width: 45px;
    height: 45px;
    object-fit: cover; }

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; }
  .nav__logo, .nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.2rem; }
  .nav__logo {
    margin-bottom: 2rem;
    text-decoration: none;
    width: var(--nav-width);
    padding: 0.5rem 0 0.5rem 12px; }
    .nav__logo-icon {
      font-size: 1.25rem;
      color: #0e2b6c; }
    .nav__logo-name {
      color: #0e2b6c;
      font-weight: 700; }
  .nav__link {
    position: relative;
    color: #0e2b6c;
    padding: 0;
    padding-left: 13px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.3s;
    text-decoration: none;
    height: 50px;
    border-radius: 10px; }
    .nav__link:hover {
      color: #0e2b6c; }
  .nav__icon {
    font-size: 30px;
    left: 0;
    right: 0; }

/*Show navbar movil*/
.show {
  width: calc(var(--nav-width) + 162px); }
  .show .nav__list .nav__name {
    display: block; }
  .show .nav__logo-name {
    display: block;
    height: 35px; }
  .show .nav__logo-image {
    display: block; }

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 188px); }

/*Active links*/
.sidebar-link-active {
  background: #03b8e2;
  background: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%); }
  .sidebar-link-active .nav__icon,
  .sidebar-link-active .nav__name {
    color: white; }
  .sidebar-link-active .nav__name {
    font-weight: bold; }
