@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translate(0, 10%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: #ebf0f5;
  min-height: 100vh;
  height: 100%;
  color: #0e2b6c;
}

#main-container {
  position: relative;
  min-height: 100%;
  margin-bottom: -70px;
}

#main {
  overflow: hidden;
  padding-bottom: 100px;
}

.content-container {
  width: 100%;
  margin-top: 80px;
  padding-left: 260px;
  padding-right: 70px;
  transition: all 0.5s ease;
}
.content-container.content-active {
  padding-left: 80px;
}

.content-container-no-log-in {
  width: 100%;
  top: 0;
}

@media screen and (max-width: 744px) {
  .content-container {
    padding-right: 20px;
  }
  .content-container.content-active {
    padding-left: 20px;
  }
}
:root {
  --header-height: 3rem;
  --nav-width: 70px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --z-fixed: 200;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: calc(var(--header-height) + 1rem);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: var(--z-fixed);
  padding-left: 70px;
  padding-right: 70px;
  transition: 0.5s;
}
.header .header-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.header .header-logo h2 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  position: relative;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}
.header .header__account-area {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.header .header__account-area .header__sign-in {
  margin-left: auto;
  margin-right: 0;
  padding: 10px;
}
.header .header__account-area .header__sign-in a {
  position: relative;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  color: #2152ff;
  text-align: center;
}
.header .header__account-area .header__sign-in:hover {
  background: #f1f1f1;
  border-radius: 10px;
}
.header .header__account-area .header__sign-in:active {
  background: #f1f1f1;
  border-radius: 10px;
}
.header .header__account-area .header__sign-in.volunteer {
  background: rgba(33, 82, 255, 0.2);
  border-radius: 10px;
  margin-left: 5px;
}
.header .header__account-area .header__sign-in.volunteer:hover {
  background: rgba(33, 82, 255, 0.5);
}
.header .header__account-area .header__img {
  display: flex;
  width: 44px;
  height: 44px;
}
.header .header__account-area .header__img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
}
.header .header__toggle {
  color: #0e2b6c;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 200;
}

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #fff;
  padding: 5px 0 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.l-navbar .nav__list .nav__name {
  display: none;
}
.l-navbar .nav__logo-name {
  display: none;
}
.l-navbar .nav__logo-image {
  display: block;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: var(--z-fixed);
}
.nav__logo, .nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.2rem;
}
.nav__logo {
  margin-bottom: 2rem;
  text-decoration: none;
  width: var(--nav-width);
  padding: 0.5rem 0 0.5rem 12px;
}
.nav__logo-icon {
  font-size: 1.25rem;
  color: #0e2b6c;
}
.nav__logo-name {
  color: #0e2b6c;
  font-weight: 700;
}
.nav__link {
  position: relative;
  color: #0e2b6c;
  padding: 0;
  padding-left: 13px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s;
  text-decoration: none;
  height: 50px;
  border-radius: 10px;
}
.nav__link:hover {
  color: #0e2b6c;
}
.nav__icon {
  font-size: 30px;
  left: 0;
  right: 0;
}

/*Show navbar movil*/
.sidebar-show {
  width: calc(var(--nav-width) + 162px);
}
.sidebar-show .nav__list .nav__name {
  display: block;
}
.sidebar-show .nav__logo-name {
  display: block;
  height: 35px;
}
.sidebar-show .nav__logo-image {
  display: block;
}

.show_744 {
  margin-left: 0;
}

.close_744 {
  margin-left: -80px;
}

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 188px);
  padding-right: 20px;
}

.body-pd_744 {
  padding-left: 20px;
  padding-right: 20px;
}

/*Active links*/
.sidebar-link-active {
  background: #03b8e2;
  background: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
}
.sidebar-link-active .nav__icon,
.sidebar-link-active .nav__name {
  color: white;
}
.sidebar-link-active .nav__name {
  font-weight: bold;
}

/*******************************
* RESPONSIVE DESIGN
*******************************/
@media screen and (max-width: 1024px) {
  .nav__icon {
    font-size: 25px;
    margin-left: 5px;
  }

  .header-logo {
    display: none;
  }
}
@media screen and (max-width: 744px) {
  .header-logo {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .header-logo {
    display: none;
  }

  .header__account-area .header__sign-in {
    font-size: 14px;
  }
}
.login-center {
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.login-center h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-weight: bold;
  font-size: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
}
.login-center form {
  padding: 0 40px;
}
.login-center form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.login-center form .txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.login-center form .txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.login-center form span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2152ff;
  transition: 0.5s;
}
.login-center form .log-in-button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #03b8e2;
  background: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.login-center form .log-in-button:hover {
  border-color: #2152ff;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2152ff;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #2152ff;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.go-to-home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  border: 1px solid;
  background: #2152ff;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: transform 0.5s;
}
.go-to-home-page:hover {
  transform: scale(1.1);
}
.go-to-home-page a {
  text-decoration: none;
  color: #fff;
}

#site-footer {
  position: relative;
  height: 70px;
  margin-top: -70px;
  clear: both;
}

.site-footer {
  background: #03b8e2;
  background: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  padding: 10px 20px 10px 80px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  width: 100%;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.footer-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-container .text-justify {
  text-align: justify;
}
.footer-social-container .footer-copyright .copyright-text a {
  color: #fff;
  font-weight: bold;
}

.footer-social-container {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 50px;
  padding-right: 50px;
}
.footer-social-container .footer-social {
  margin-left: auto;
  margin-right: 0;
}
.footer-social-container .footer-social .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.footer-social-container .footer-social .social-icons li {
  display: inline-block;
  background: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.footer-social-container .footer-social .social-icons li a {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50%;
}
.footer-social-container .footer-social .social-icons li a.facebook {
  color: #2152ff;
}
.footer-social-container .footer-social .social-icons li a.youtube {
  color: red;
}
.footer-social-container .footer-social .social-icons li a.instagram {
  color: #c000a6;
}
.footer-social-container .footer-social .social-icons li:hover {
  background: #ebf0f5;
}
.footer-social-container .footer-copyright {
  margin: auto 0;
  margin-left: 0;
  margin-right: auto;
}
.footer-social-container .footer-copyright .copyright-text {
  margin: 0;
}

@media screen and (max-width: 744px) {
  .site-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-footer .footer-about-container .about-us h6 {
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  .footer-social-container {
    padding-left: 0;
    padding-right: 0;
  }
  .footer-social-container .footer-social {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-social-container .footer-copyright {
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .footer-social-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .footer-social-container .footer-social {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-social-container .footer-copyright {
    margin: 0 auto;
    margin-top: 20px;
  }
}
.homepage-container {
  animation: transitionIn 1s;
}

.homepage-content {
  background-image: url("/img/homepage_background_2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 50px;
}
.homepage-content .homepage-title h1 {
  padding-top: 10%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  font-size: 100px;
  font-weight: 600;
}

.achievement-container {
  background: #fff;
  padding-top: 30px;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.achievement-container h1 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  font-size: 40px;
  text-align: center;
}
.achievement-container .achievement-content {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.achievement-container .achievement-content .content-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  margin-top: 60px;
}
.achievement-container .achievement-content .content-block .ach-1, .achievement-container .achievement-content .content-block .ach-2, .achievement-container .achievement-content .content-block .ach-3, .achievement-container .achievement-content .content-block .ach-4 {
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.achievement-container .achievement-content .content-block .ach-1 h4, .achievement-container .achievement-content .content-block .ach-2 h4, .achievement-container .achievement-content .content-block .ach-3 h4, .achievement-container .achievement-content .content-block .ach-4 h4 {
  font-size: 70px;
  margin: 0;
  margin-bottom: 6px;
}
.achievement-container .achievement-content .content-block .ach-1 p, .achievement-container .achievement-content .content-block .ach-2 p, .achievement-container .achievement-content .content-block .ach-3 p, .achievement-container .achievement-content .content-block .ach-4 p {
  font-size: 26px;
  margin: 0;
}
.achievement-container .achievement-content .content-block .ach-1 {
  background: #f8e5c1;
}
.achievement-container .achievement-content .content-block .ach-1 h4 {
  color: #f08000;
}
.achievement-container .achievement-content .content-block .ach-2 {
  background: #dcf8c1;
}
.achievement-container .achievement-content .content-block .ach-2 h4 {
  color: #0ccf26;
}
.achievement-container .achievement-content .content-block .ach-3 {
  background: #c1f2f8;
}
.achievement-container .achievement-content .content-block .ach-3 h4 {
  color: #0ca8cf;
}
.achievement-container .achievement-content .content-block .ach-4 {
  background: #c1d7f8;
}
.achievement-container .achievement-content .content-block .ach-4 h4 {
  color: #0f0ccf;
}

.homepage-content-about-us-title {
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  color: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
}

#about-us {
  font-size: 50px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
}

#about-us-content {
  text-align: justify;
}

#s {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  font-size: 20px;
  font-weight: 500;
}

#slogan {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #fa8d5b 0%, #f34c22 100%);
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 500;
}

.homepage-log-in {
  padding-bottom: 100px;
  position: relative;
}
.homepage-log-in .btn-custom {
  width: max-content;
  border-radius: 20px;
  height: 60px;
  text-align: center;
  border: none;
  background: #03b8e2;
  background: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  box-shadow: #3081d8 0px 5px 30px -10px;
}
.homepage-log-in .btn-custom a {
  text-decoration: none;
  color: #fff;
}

.homepage-content-about-us {
  display: flex;
  position: relative;
  margin-top: 50px;
  padding-left: 50px;
  padding-bottom: 300px;
}

.homepage-content-img {
  width: 40%;
  height: 600px;
  position: absolute;
  right: 3%;
  height: 500px;
  background-image: url(/img/meeting_2.png);
  border-radius: 5%;
  margin-right: 0;
}

.profile-container {
  margin: auto 0;
  padding: 0;
  padding-bottom: 20px;
}
.profile-container .header-title {
  position: relative;
  text-align: center;
  color: #0e2b6c;
}
.profile-container .avatar-and-name {
  display: flex;
  justify-content: center;
  position: relative;
  width: max-content;
  margin: 0 auto;
}
.profile-container .avatar-and-name .a-edit {
  height: 150px;
  width: 150px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 1px dashed #2152ff;
}
.profile-container .avatar-and-name .a-edit #photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile-container .avatar-and-name .a-edit #file {
  display: none;
}
.profile-container .avatar-and-name .a-edit #uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 12px;
  cursor: pointer;
  display: none;
}
.profile-container .avatar-and-name .profile-name {
  display: block;
  margin: auto 0;
  padding-left: 20px;
}
.profile-container .avatar-and-name .profile-name h2 {
  padding-bottom: 10px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
}
.profile-container .avatar-and-name .profile-name h4 {
  color: #a1a1a1;
}

.personal-info {
  margin: 0 auto;
  padding-top: 50px;
  width: 600px;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.edit-profile .info {
  display: inline-block;
  padding: 8px;
  border: 1px solid #0e2b6c;
  border-radius: 8px;
  background-color: #fff;
  width: max-content;
}
.edit-profile .info label {
  font-size: 16px;
  color: #afafaf;
}
.edit-profile .info input {
  margin-top: 5px;
  border: none;
  outline: none;
  display: block;
  background: none;
  width: 100%;
  height: 20px;
  font-size: 20px;
  padding-left: 0;
}
.edit-profile .left-side {
  display: block;
  width: 100%;
}
.edit-profile .left-side .info {
  width: 100%;
}
.edit-profile .left-side .info:nth-child(2), .edit-profile .left-side .info:nth-child(4) {
  margin-top: 10px;
  margin-bottom: 10px;
}
.edit-profile .left-side .sex-info {
  display: flex;
  margin: 0 auto;
  height: 55px;
  width: max-content;
}
.edit-profile .left-side .sex-info label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  padding: 3px 0px 3px 0px;
  overflow: hidden;
}
.edit-profile .left-side .sex-info label input {
  position: absolute;
  left: -9999px;
}
.edit-profile .left-side .sex-info label input:checked + span {
  background-color: #d8dde7;
}
.edit-profile .left-side .sex-info label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #0e2b6c;
}
.edit-profile .left-side .sex-info label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 10px;
  transition: 0.25s ease;
}
.edit-profile .left-side .sex-info label span:hover {
  background-color: #d8dde7;
}
.edit-profile .left-side .sex-info label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #0e2b6c;
}
.edit-profile .right-side {
  display: block;
  width: 100%;
}
.edit-profile .right-side .button-area {
  width: min-content;
  margin-left: auto;
  margin-right: 0;
}
.edit-profile .right-side .button-area .save-profile-btn {
  width: max-content;
  height: max-content;
  padding: 10px;
  font-size: 20px;
  margin-left: auto;
  margin-top: 20px;
  border: none;
  background: #03b8e2;
  background: linear-gradient(300deg, #e26f03 0%, #f35618 100%);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  box-shadow: #e42626 0px 5px 30px -10px;
  transition: transform 0.5s;
}
.edit-profile .right-side .button-area .save-profile-btn:hover {
  transform: scale(1.1);
}
.edit-profile .right-side .info {
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.edit-profile .right-side .info select {
  border: none;
  background: none;
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.edit-profile .right-side .info select::after {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s all ease;
  pointer-events: none;
  border: none;
}
.edit-profile .right-side .info:nth-child(2), .edit-profile .right-side .info:nth-child(3) {
  margin-top: 10px;
}
.edit-profile .right-side .info:nth-child(3) {
  padding-left: 5px;
}

@media screen and (max-width: 744px) {
  .personal-info {
    width: 98%;
  }
}
input {
  border-width: 1px;
  border-radius: 10px;
  border-color: #2727c0;
  height: 50px;
  min-width: 100px;
  padding-left: 10px;
}
input::-webkit-input-placeholder {
  text-indent: 10px;
}

select {
  box-sizing: border-box;
  padding: 13px;
  margin: 0px;
  outline: none;
  border-width: 1px;
  border-radius: 10px;
  border-color: #2727c0;
}

.content-container .support-form {
  width: 80%;
  margin: 0 auto;
}
.content-container .delivery-address {
  position: relative;
  display: flex;
  min-width: 80%;
  justify-content: center;
  align-items: center;
}
.content-container .delivery-address .input-and-btn {
  position: relative;
  width: 100%;
}
.content-container .delivery-address .input-and-btn input {
  width: 100%;
}
.content-container .delivery-address .input-and-btn .choose-address-btn {
  position: absolute;
  right: 0;
  margin: 0;
  margin-top: 7px;
  margin-right: 7px;
  box-shadow: #3081d8 0px 5px 30px -10px;
}
.content-container .delivery-address .field-select {
  margin-left: 10px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
  margin-top: 35px;
  margin-bottom: 30px;
}

/*********************************
 * SUPPORT REQUEST DESIGN AREA
*********************************/
.box-IQN {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
}
.box-IQN .support-btn {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  /***************************
  * ADD ROW BUTTON
  ***************************/
}
.box-IQN .support-btn #add-input-btn {
  margin-right: auto;
  margin-left: 0;
  box-shadow: 2px 2px 10px #b0b0b5;
}
.box-IQN .support-btn .button-submit-items {
  width: 250px;
  background: #03b8e2;
  background: linear-gradient(300deg, #e26f03 0%, #f31818 100%);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  height: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: #e42626 0px 5px 30px -10px;
  transition: transform 0.5s;
}
.box-IQN .support-btn .button-submit-items:hover {
  background: #03b8e2;
  background: linear-gradient(300deg, #e26f03 0%, #f31818 100%);
  transform: scale(1.1);
}
.box-IQN #form-support {
  display: block;
  position: relative;
}
.box-IQN #form-support .form-support-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  /*********************
  * REMOVE ROW BUTTON
  **********************/
}
.box-IQN #form-support .form-support-container .remove-row-btn {
  margin: auto 0;
  margin-left: 20px;
  box-shadow: #e42626 0px 5px 30px -10px;
}
.box-IQN #form-support .form-support-container .tb-1 {
  width: 300px;
}
.box-IQN #form-support .form-support-container .tb-2 {
  width: 150px;
}
.box-IQN #form-support .form-support-container .tb-2,
.box-IQN #form-support .form-support-container .tb-3 {
  margin-left: 20px;
}

@media screen and (max-width: 744px) {
  .content-container form {
    width: 100%;
  }
  .content-container .delivery-address .input-and-btn {
    position: relative;
    width: 100%;
  }
  .content-container .delivery-address .input-and-btn input {
    width: 100%;
  }
  .content-container .button-submit-items {
    width: 150px !important;
  }

  input {
    min-width: 60px;
  }
  input::-webkit-input-placeholder, input::-moz-placeholder {
    font-size: 12px;
  }

  #form-support .form-support-container {
    margin-top: 4px;
    margin-bottom: 4px;
    /*********************
    * REMOVE ROW BUTTON
    **********************/
  }
  #form-support .form-support-container .remove-row-btn {
    margin: auto 0;
    font-size: 13px;
    margin-left: 5px !important;
    box-shadow: #e42626 0px 5px 30px -10px;
  }
  #form-support .form-support-container .tb-2, #form-support .form-support-container .tb-3 {
    margin-left: 4px !important;
  }
}
.header-title {
  position: relative;
  text-align: center;
  color: #0e2b6c;
  font-size: 26px;
  padding-top: 30px;
}

.waiting-content {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  width: 85%;
  box-shadow: 1px 1px 2px 2px #d3d3d3;
  margin: 0 auto;
  overflow-x: auto;
}

.list {
  margin: 0 auto;
  width: 1000px;
  letter-spacing: 0.05em;
}
.list td {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border-top: #b0b0b5 solid 0.1px;
}
.list td .detail-buttons {
  width: max-content;
}
.list td .button-detail {
  margin: 0;
}
.list td .button-detail:active {
  background-color: #2152ff;
}
.list tr {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.list th {
  background-color: white;
  font-size: 20px;
  color: black;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 2;
}

.note {
  color: #b0b0b5;
  font-style: italic;
  text-align: center;
}

#order-detail {
  z-index: 200;
}
#order-detail .order-detail-title p {
  font-size: 20px;
}
#order-detail .order-detail-receive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
}
#order-detail .order-detail-receive h5 {
  width: 100%;
  text-align: center;
}
#order-detail .order-detail-body h4 {
  text-align: center;
}

@media screen and (max-width: 744px) {
  .waiting-content {
    width: 100%;
  }
  .waiting-content .list {
    width: 500px;
  }
  .waiting-content .list * {
    font-size: 14px;
  }
}
.dtr-center {
  text-align: center;
  margin: 10px;
}

.dtr-align {
  margin: 10px;
}

.btn-sort {
  background: white;
  border: 2px solid #002afa;
  color: #002afa;
  border-radius: 15px;
  display: block;
}

.btn-sort * {
  display: inline-block;
  margin-right: 5px;
}

.btn-sort:hover {
  background: linear-gradient(78deg, #00aaff 0%, #002afa 100%);
  color: white;
  border: 0px;
}

.dtr-salign {
  margin-right: 10px;
}

.dtr-salign > button {
  border: 0px;
  margin-right: 10px;
}

.dtr-salign > button:hover {
  color: #017efb;
  text-shadow: 0px 0px 1px #a8a8fa;
}

.dtr-salign > input {
  border-radius: 5px;
  border: 1px solid #afafaf;
}

.dtr-salign > input:hover {
  border: 1px solid #767676;
}

.dtr_search {
  height: 40px;
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}
.dtr_search .dtr-salign {
  position: relative;
  height: 100%;
}
.dtr_search .dtr-salign input {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}
.dtr_search .dtr-filter select {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

.dtr-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
}
.dtr-container .dtr-block {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}
.dtr-container .dtr-block .dtr-block-title {
  display: flex;
  border-bottom: 1px solid #bdbdbd;
}
.dtr-container .dtr-block .dtr-block-title .dtr-name {
  margin: auto 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%);
}
.dtr-container .dtr-block .dtr-block-title button {
  margin-left: auto;
  margin-right: 0;
}
.dtr-container .dtr-block .dtr-block-body {
  display: flex;
  margin-top: 10px;
}
.dtr-container .dtr-block .dtr-block-body .dtr-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.dtr-container .dtr-block .dtr-block-body .dtr-detail {
  display: block;
  margin: auto 0;
  margin-left: 20px;
}
.dtr-container .dtr-block .dtr-block-body .dtr-detail span {
  display: flex;
  height: 25%;
}
.dtr-container .dtr-block .dtr-block-body .dtr-detail span p {
  margin-left: 10px;
}

.modal-dialog {
  max-width: 1000px;
}

#dtr-detail-profile {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}
#dtr-detail-profile .img-file-dtr img {
  width: 200px;
  position: relative;
}
#dtr-detail-profile .info-dtr {
  padding-left: 20px;
  position: relative;
  width: 100%;
}
#dtr-detail-profile .info-dtr p {
  font-size: 20px;
}

@media screen and (max-width: 937px) {
  .dtr-container {
    grid-template-columns: 1fr 1fr;
  }
  .dtr-container .dtr-block .dtr-block-title .dtr-name {
    margin: auto 0;
    font-size: 17px;
  }
  .dtr-container .dtr-block .dtr-block-title button {
    margin-left: auto;
    margin-right: 0;
  }
  .dtr-container .dtr-block .dtr-block-body {
    font-size: 15px;
  }
}
@media screen and (max-width: 700px) {
  .dtr-container {
    grid-template-columns: 1fr;
  }
  .dtr-container .dtr-block .dtr-block-title .dtr-name {
    margin: auto 0;
    font-size: 17px;
  }
  .dtr-container .dtr-block .dtr-block-title button {
    margin-left: auto;
    margin-right: 0;
  }
  .dtr-container .dtr-block .dtr-block-body {
    font-size: 15px;
  }
  .dtr-container .dtr-block .dtr-block-body .dtr-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .dtr_search {
    position: relative;
    width: 100%;
  }
  .dtr_search .dtr-salign {
    height: 30px;
  }
  .dtr_search .dtr-salign input {
    position: relative;
    height: 100%;
    width: 100px;
  }
  .dtr_search .dtr-filter {
    height: 30px;
  }
  .dtr_search .dtr-filter select {
    position: relative;
    height: 100%;
    font-size: 13px;
    padding: 0;
    margin: 0;
  }

  .dtr-profile-modal {
    width: 90%;
    font-size: 13px;
  }
}
.shipping-title {
  position: relative;
  text-align: center;
  color: #0e2b6c;
  font-size: 26px;
  padding-top: 30px;
}

.shipping-content {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  width: 80%;
  box-shadow: 1px 1px 2px 2px #d3d3d3;
  margin: 0 auto;
  overflow-x: auto;
}

.shipping-list {
  margin: 0 auto;
  width: 1000px;
  letter-spacing: 0.05em;
}
.shipping-list td {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border-top: #b0b0b5 solid 0.1px;
}
.shipping-list td .button-detail {
  background: #ebf0f5;
  border-radius: 10px;
  color: #0e2b6c;
  line-height: 1.7;
  font-size: 18px;
  width: 4em;
  height: max-content;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}
.shipping-list td .button-detail:hover {
  background-color: #b0b0b5;
}
.shipping-list td .button-detail:active {
  background-color: #2152ff;
}
.shipping-list tr {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.shipping-list th {
  background-color: white;
  font-size: 20px;
  color: black;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 2;
}

.shipping-note {
  color: #b0b0b5;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 744px) {
  .shipping-content {
    width: 100%;
  }
  .shipping-content .shipping-list {
    width: 500px;
  }
  .shipping-content .shipping-list * {
    font-size: 14px;
  }
}
.receive-tb-container {
  background: #fff;
  margin-top: 40px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  box-shadow: 2px 2px 10px #b0b0b5;
  overflow-x: auto;
  padding: 20px;
}
.receive-tb-container h4 {
  text-align: center;
}

.order-table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  width: 1200px !important;
  margin: 0 auto;
}
.order-table th {
  cursor: pointer;
}
.order-table thead tr th {
  border-bottom: 2px solid #000;
  padding: 10px;
}
.order-table thead tr th:nth-child(1) {
  padding-left: 10px;
}
.order-table thead tr th:last-child {
  padding-right: 10px;
}
.order-table tbody tr {
  border-bottom: 1px solid #797979;
}
.order-table tbody tr td {
  padding: 15px;
}
.order-table tbody tr td:first-child {
  padding-left: 10px;
}
.order-table tbody tr td:last-child {
  padding-right: 10px;
}
.order-table tbody tr:last-child {
  border-bottom: none;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  transition: 0.5s;
}

.card {
  position: relative;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 95%;
  cursor: pointer;
  transition: transform 0.4s;
}
.card:hover {
  transform: scale(1.05);
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}
.card-body h3 {
  font-size: 21px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal1 {
  background-color: #47bcd4;
}
.tag-teal2 {
  background-color: #df9323;
}
.tag-teal3 {
  background-color: #05be05;
}
.tag-teal4 {
  background-color: #df232c;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
}

.user img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin: auto 0;
}

.user-info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto 0;
  margin-left: 10px;
}
.user-info h5 {
  margin-bottom: 0;
}
.user-info small {
  color: #545d7a;
}

.user-info-address {
  position: relative;
  margin: 10px 0 0 auto;
}

/********************
* CARD MODAL DESIGN
*********************/
.card-modal {
  width: 400px;
  height: 80%;
  overflow-y: auto;
  position: absolute;
  left: auto;
  right: 20px;
  top: 66px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-top: 1px solid silver;
  display: none;
  box-shadow: 2px 2px 10px #b0b0b5;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.5s ease-in;
}
.card-modal .btn-collapse {
  width: 100%;
  margin-bottom: 0;
  margin-top: auto;
}
.card-modal .card-modal-close-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}
.card-modal .card-modal-header {
  border-bottom: 1px solid #cfcfcf;
}
.card-modal .card-modal-header .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-modal .card-modal-header .user .user-info {
  justify-content: center;
  align-items: center;
}
.card-modal .card-modal-header .user .user-info-address {
  margin: 0;
  margin-top: 30px;
  text-align: center;
}
.card-modal .card-modal-body {
  position: relative;
  height: max-content;
  overflow-y: auto;
}
.card-modal .card-modal-body .card-modal-body-title {
  text-align: center;
  margin-top: 20px;
}
.card-modal .card-modal-body .card-modal-body-content {
  height: max-content;
}
.card-modal .card-modal-body .card-modal-body-content .card-item-container {
  display: flex;
  flex-direction: row;
  background: #ebf0f5;
  height: 50px;
  border-radius: 10px;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.card-modal .card-modal-body .card-modal-body-content .card-item-container h4 {
  position: relative;
  margin: auto 0;
  margin-left: 10px;
}
.card-modal .card-modal-body .card-modal-body-content .card-item-container button {
  height: 40px;
}
.card-modal .card-modal-body .card-modal-body-content .card-item-container button i {
  font-size: 18px;
  position: relative;
  margin-top: 5px;
}
.card-modal .card-modal-body .card-modal-body-content .card-item-container button:last-child {
  margin-right: 10px;
}
.card-modal .card-modal-body .card-modal-body-content .item-completed {
  background: #3b3b3b;
}
.card-modal .card-modal-body .card-modal-body-content .item-completed h4 {
  color: #fff;
}

.modal-active {
  display: block;
}

/****************************************
*  RESPONSIVE DESIGN
*****************************************/
@media screen and (max-width: 1267px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .card-container .card * {
    font-size: 16px;
  }
  .card-container .card .card-body h3 {
    font-size: 19px;
  }
}
@media screen and (max-width: 744px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}
@media screen and (max-width: 489px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
  }

  .card-modal {
    width: 98%;
    left: 0;
    right: 0;
    height: max-content;
  }
}

/*# sourceMappingURL=app.css.map */
