@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*===== Colors =====*/
/*===== z index =====*/
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --z-fixed: 100; }

/*===== HEADER =====*/
.header {
  width: 100%;
  height: calc(var(--header-height) + 1rem);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: var(--z-fixed);
  padding-left: 70px;
  padding-right: 70px;
  transition: 0.5s; }
  .header__toggle {
    color: #0e2b6c;
    font-size: 1.5rem;
    cursor: pointer; }
  .header__img {
    display: flex;
    width: 44px;
    height: 44px; }
    .header__img img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: auto; }

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #fff;
  padding: 1rem 0 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed); }
  .l-navbar .nav__list .nav__name {
    display: none; }
  .l-navbar .nav__logo .nav__logo-name {
    display: none; }

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; }
  .nav__logo, .nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.2rem; }
  .nav__logo {
    margin-bottom: 2rem;
    text-decoration: none; }
    .nav__logo-icon {
      font-size: 1.25rem;
      color: #0e2b6c; }
    .nav__logo-name {
      color: #0e2b6c;
      font-weight: 700; }
  .nav__link {
    position: relative;
    color: #0e2b6c;
    padding: 0;
    padding-left: 13px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.3s;
    text-decoration: none;
    height: 50px;
    border-radius: 10px; }
    .nav__link:hover {
      color: #0e2b6c; }
  .nav__icon {
    font-size: 30px;
    left: 0;
    right: 0; }

/*Show navbar movil*/
.show {
  width: calc(var(--nav-width) + 162px); }
  .show .nav__list .nav__name {
    display: block; }
  .show .nav__logo .nav__logo-name {
    display: block; }

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 188px); }

/*Active links*/
.sidebar-link-active {
  background: #03b8e2;
  background: linear-gradient(300deg, #03b8e2 0%, #2152ff 100%); }
  .sidebar-link-active .nav__icon, .sidebar-link-active .nav__name {
    color: white; }
  .sidebar-link-active .nav__name {
    font-weight: bold; }
