<!-- Site footer -->
<footer class="site-footer" id="site-footer">
    {{!-- <div class="footer-about-container">
        <div class="about-us">
            <h6>Về chúng tôi</h6>
            <p class="text-justify">
                COVID-S là một ứng dụng web hỗ trợ các bệnh nhân trong khu cách ly, người dân khu vực phong tỏa không thể ra ngoài mua nhu yếu phẩm. Đội tình nguyên viên của chúng tôi sẽ hỗ trợ mua vật dụng cần thiết, hoạt động trên tinh thần tự nguyện, san sẻ và yêu thương. Cùng chung tay giúp Thành phố Hồ Chí Minh vượt qua đại dịch.
            </p>
        </div>
    </div> --}}
    <div class="footer-social-container">
        <div class="footer-social">
            <ul class="social-icons">
                <li><a class="facebook" href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></i></a></li>
                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></i></a></li>
            </ul>
        </div>
        <div class="footer-copyright">
            <p class="copyright-text">
                Made with <i class="fas fa-heart" style="color: red;"></i> by <a href="#">ZTeam</a>.
            </p>
        </div>
    </div>
</footer>