<footer id="footer-container">
    <div class="section-footer">
        <div class="about-info-footer">
            <h2>COVID-S</h2>
            <p>COVID-S là một ứng dụng web mà các bệnh nhân covid có thể sử dụng miễn phí, đội tình nguyện viên của
                chúng tôi sẽ thực hiện các yêu cầu tiếp tế của các bạn.</p>
        </div>
        {{!-- <div class="social-media">
            <h3>Theo dõi chúng tôi</h3>
            <ul>
                <li class="facebook"><a href="/"><i class="fab fa-facebook-f"></i></a></li>
                <li class="youtube"><a href="/"><i class="fab fa-youtube"></i></a></li>
                <li class="website"><a href="/"><i class="fas fa-globe"></i></a></li>
            </ul>
        </div> --}}
    </div>
</footer>
