<header class="header header-no-log-in sticky" id="header">
  {{!-- LOGO TEXT --}}
  <div class="header-logo">
    <h2>COVID-S</h2>
  </div>
  <div class="header__account-area">
    <div class="header__sign-in">
      <a href="/login">Đăng nhập</a>
    </div>
    <div class="header__sign-in volunteer">
      <a href="/register/volunteer">Đăng ký tình nguyên viên</a>
    </div>
  </div>
</header>