<nav>
  <div class="menu">
    <input type="checkbox" id="check">
    <div class="logo"><a href="#">COVID-S</a></div>
    <ul>
      <label class="btn cancel" for="check"><i class="fas fa-times"></i></label>
      <li><a href="/">Trang chủ</a></li>
      <li><a href="/#about">Về chúng tôi</a></li>
      <li><a href="#">Liên hệ</a></li>
      <li><a href="/login">Đăng nhập</a></li>
      <li class="sign-up"><a href="/register">Đăng ký</a></li>
    </ul>
    <label for="check" class="btn bars"><i class="fas fa-bars"></i></label>
  </div>
  </div>
</nav>