<nav id="navbar">
  <div class="menu">
    <input type="checkbox" id="check">
    <div class="logo"><a href="#">COVID-S</a></div>
    <ul class="text-bar">
      <label class="btn cancel" for="check"><i class="fas fa-times"></i></label>
      <li><a href="/">Trang chủ</a></li>
      <li><a href="/#about">Về chúng tôi</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
    {{#if session.user}}
    <div class="account-container">
      <button class="account-btn" type="button" onclick="dropDownMenu()">
        <img src="/upload/{{session.user.image}}" alt="avatar" class="avatar">
        <span>{{session.user.firstName}}</span>
      </button>
      <div id="toggle-dropdown" class="dropdown-menu">
        <li class="my-account"><a href="/profile">Tài khoản của tôi</a></li>
        <li class="loggout"><a href="/loggout">Đăng xuất</a></li>
      </div>
    </div>
    
    
    
    {{else}}
      <div class="sign-in-container">
        <li class="sign-button"><a href="/login">Đăng nhập</a> / <a href="/register">Đăng ký</a></li>
      </div>
    {{/if}}
    <label for="check" class="btn bars"><i class="fas fa-bars"></i></label>
  </div>
  </div>
</nav>
