<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="/" class="nav__logo">
                <img class="nav__logo-image" src="/img/logo01.png" alt="">
                <img class="nav__logo-name" src="/img/logo02.png" alt="">
            </a>
            <div class="nav__list">
                <a href="/" class="nav__link" data-tab="tab0">

                    <i class="material-icons nav__icon" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Trang chủ">home</i>
                    <span class="nav__name">Trang chủ</span>
                </a>

                <a href="/support" class="nav__link" data-tab="tab1">
                    <i class='material-icons nav__icon'>support</i>
                    <span class="nav__name">Gửi yêu cầu tiếp tế</span>
                </a>

                <a href="/waiting" class="nav__link" data-tab="tab2">
                    <i class='bx bxs-time-five nav__icon'></i>
                    <span class="nav__name">Đơn đã gửi</span>
                </a>

                {{!-- <a href="/shipping" class="nav__link" data-tab="tab3">
                    <i class='bx bxs-package nav__icon'></i>
                    <span class="nav__name">Chờ giao hàng</span>
                </a> --}}

                <a href="/doctor" class="nav__link" data-tab="tab3">
                    <i class='material-icons nav__icon'>medication</i>
                    <span class="nav__name">Bác sĩ tư vấn</span>
                </a>
                <hr>
                <a href="/receive" class="nav__link" data-tab="tab4">
                    <i class='material-icons nav__icon'>local_mall</i>
                    <span class="nav__name">Nhận yêu cầu</span>
                </a>
                <a href="/receive/accept" class="nav__link" data-tab="tab5">
                    <i class='material-icons nav__icon'>receipt_long</i>
                    <span class="nav__name">Yêu cầu đã nhận</span>
                </a>
                <a href="#" class="nav__link" data-tab="tab6">
                    <i class='bx bx-bar-chart-alt-2 nav__icon'></i>
                    <span class="nav__name">Analytics</span>
                </a>
            </div>
        </div>
    </nav>
</div>
