{{>headerNoLogIn}}
<div class="homepage-container">
    <div class="homepage-content">
        <div class="homepage-title">
            <h1>COVID-S</h1>
            <div id="slogan">
                Hiệu quả - nhanh chóng - tận tâm
            </div>
            <div class="homepage-log-in">
                <button type="button" class="btn btn-primary btn-lg btn-custom"><a href="/login">Tham gia ngay</a></button>
            </div>
        </div>
    </div>
    <div class="achievement-container">
        <div class="achievement-content">
            <h1 class="wow fadeInLeft" data-wow-delay="0.5s">Chúng tôi đã đạt được những gì?</h1>
            <div class="content-block">
                <div class="ach-1 wow fadeInUp">
                    <h4 class="countfect" data-num="890"></h4>
                    <p>Yêu cầu đã hỗ trợ</p>
                </div>
                <div class="ach-2 wow fadeInUp">
                    <h4 class="countfect" data-num="145"></h4>
                    <p>Bệnh nhân đã được hỗ trợ</p>
                </div>
                <div class="ach-3 wow fadeInUp">
                    <h4 class="countfect" data-num="134"></h4>
                    <p>Tình nguyện viên</p>
                </div>
                <div class="ach-4 wow fadeInUp">
                    <h4 class="countfect" data-num="2"></h4>
                    <p>Năm hoạt động</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-content-about-us">
        <div class="homepage-content-about-us-title">
            <div class="wow fadeInRight" data-wow-delay="0.5s" id="about-us">Chúng tôi là ai?</div>
            <div id="about-us-content">
                Chào mừng bạn đến với <span id="s">COVID-S, website chuyên cung cấp các dịch vụ hỗ trợ F0 đang cách
                    ly tại Thành phố Hồ Chí Minh</span>.Tại đây, bạn sẽ nhận được những dịch vụ hỗ trợ tốt nhất,
                nhanh chóng và tận
                tâm nhất.
                Ngoài ra, đây còn là website chào đón các tình nguyện viên có lòng tốt muốn tham gia vào chiến dịch
                hỗ trợ F0 đang
                cách ly của chúng tôi.

            </div>
        </div>
        <div class="homepage-content-img">
        </div>
    </div>
</div>