<div class="content-container" id="content-container">
    <div class="homepage">
        <div class="homepage-content">
            <div class="homepage-title">
                <h1>COVID-S</h1>
                <div id="slogan">
                    Hiệu quả - nhanh chóng - tận tâm
                </div>
                <div class="homepage-log-in">
                    <a href="/login" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Tham gia ngay</a>
                </div>
            </div>
        </div>
        <div class="homepage-content-about-us">
            <div class="homepage-content-about-us-title">
                <div id="about-us">VỀ CHÚNG TÔI</div>
                <div id="about-us-content">
                    Chào mừng bạn đến với <span id="s">COVID-S, website chuyên cung cấp các dịch vụ hỗ trợ F0 đang cách
                        ly tại Thành phố Hồ Chí Minh</span>.Tại đây, bạn sẽ nhận được những dịch vụ hỗ trợ tốt nhất, nhanh chóng và tận
                    tâm nhất.
                    Ngoài ra, đây còn là website chào đón các tình nguyện viên có lòng tốt muốn tham gia vào chiến dịch
                    hỗ trợ F0 đang
                    cách ly của chúng tôi.

                </div>
            </div>
            <div class="homepage-content-img">

            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
