<div class="main-container">
    {{>sidebar}}
    <div class="content-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non
            quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci numquam quos obcaecati
            consequuntur
            non quidem fugiat voluptatem sed ipsum, labore incidunt quis alias! Error beatae quod doloremque placeat
            dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni atque aliquid earum porro similique
            beatae
            nulla, repellat ducimus delectus aliquam temporibus ea! Officiis, consequatur ad quaerat accusamus ex
            possimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eveniet quibusdam sequi cumque
            expedita
            tenetur, nobis modi, illo fugit consequatur enim adipisci, reprehenderit illum libero mollitia dolor beatae
            sit?
        </p>
    </div>
</div>