<div class="main-container">
    {{>sidebar}}
    <div class="content-container" id="content-container">
        <h1>Home page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit officia ipsa, voluptas quidem
            temporibus
            veritatis tempore excepturi officiis nulla qui optio, fugit doloribus nemo. Eaque odio voluptatum deleniti
            delectus maiores.</p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/new_sidebar.js"></script>