<div class="center">
    <h2>Đăng nhập</h2>
    <form method="post">
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Tên đăng nhập</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Mật khẩu</label>
        </div>
        <div class="pass">Quên mật khẩu?</div>
        <button type="submit" class="log-in-button">Đăng nhập</button>
        <div class="signup_link">
            Bạn là người mới? <a href="/register">Đăng ký</a>
        </div>
    </form>
</div>