<div class="center">
    <h2>Tạo tài khoản</h2>
    <form method="post">
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Họ và tên</label>
        </div>
        <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Số điện thoại</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Mật khẩu</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Nhập lại mật khẩu</label>
        </div>
        <button type="submit" class="log-in-button">Đăng ký</button>
        <div class="signup_link">
            Bạn đã có tài khoản? <a href="/login">Đăng nhập ngay</a>
        </div>
    </form>
</div>