<div class="login-center register">
    <h2>Tạo tài khoản</h2>
    <form action="/register" method="POST">
        <div class="txt_field">
            <input type="text" name="lastName" required>
            <span></span>
            <label>Họ và tên lót</label>
        </div>
        <div class="txt_field">
            <input type="text" name="firstName" required>
            <span></span>
            <label>Tên</label>
        </div>
        <div class="txt_field">
            <input type="text" name="phoneNumber" required>
            <span></span>
            <label>Số điện thoại</label>
        </div>
        <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Mật khẩu</label>
        </div>
        <div class="txt_field">
            <input type="password" name="confirmPassword" required>
            <span></span>
            <label>Nhập lại mật khẩu</label>
        </div>
        <button type="submit" class="log-in-button">Đăng ký</button>
        <div class="signup_link">
            Bạn đã có tài khoản? <a href="/login">Đăng nhập ngay</a>
        </div>
    </form>
</div>
<div class="go-to-home-page">
    <a href="/"><i class="fas fa-arrow-left"></i>Trở về trang chủ</a>
</div>