<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        {{!-- Fontawesome --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        {{!-- Bootstrap --}}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="/css/app.css">

        <title>COVID-S</title>
    </head>
    <body>
<nav>
  <div class="menu">
    <input type="checkbox" id="check">
    <div class="logo"><a href="#">COVID-S</a></div>
    <ul class="text-bar">
      <label class="btn cancel" for="check"><i class="fas fa-times"></i></label>
      <li><a href="/">Trang chủ</a></li>
      <li><a href="/#about">Về chúng tôi</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
      <div class="account">
          <div class = "image-for-account">
            Hi, Bảo
          </div>
          <div class = "avatar">
            <img id="img-a" src ="https://vietmytour.vn/wp-content/uploads/2018/10/Size-Avatar-3.jpg">
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false"><i class="fas fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Tài khoản của tôi</a></li>
              <li><a class="dropdown-item loggout" href="/loggout">Đăng xuất</a></li>
            </ul>
          </div>
          
      </div>
    <label for="check" class="btn bars"><i class="fas fa-bars"></i></label>
  </div>
  </div>
</nav>
<div class = "content" id="main">
  {{!------------------------- --}}
  <div class = "filters">
    <div class = "filter1">
      <select name="field1" class="field1-select">
        <option value="Thủ Đức">Thủ Đức</option>
        <option value="Quận 1">Quận 1</option>
        <option value="Quận 2">Quận 2</option>
        <option value="Quận 3">Quận 3</option>
        <option value="Quận 4">Quận 4</option>
        <option value="Quận 5">Quận 5</option>
      </select>
    </div>
    <div class = "filter2">
      <select name="field2" class="field2-select">
        <option value="Thủ Đức">Thực phẩm</option>
        <option value="Quận 1">Thuốc</option>
      </select>
    </div>
  </div>
  {{!---------------------------}}
  <div class = "infors">
    <table id="tb1">
      <thead> 
        <tr>
          <td><strong>Tên khách hàng</strong></span></td>
          <td><strong>Địa chỉ</strong></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Thúy Ngân</td>
          <td>Số 12B, đường Võ Văn Ngân</td>
          <td>
            <div class = "check-choose-buttons">
              <div class ="check-button">
                <button type = "button" class ="buttonCheck"><span class="btn1">Chi tiết</span></button>
              </div>
              <div class ="choose-button">
                <button type = "button" class ="buttonChoose"><span class="btn1">Gửi</span></button>
              </div>  
            </div>
          </td>
        </tr>
        <tr>
          <td>Hoài Nam</td>
          <td>Số 12B, đường Võ Văn Ngân</td>
          <td>
            <div class = "check-choose-buttons">
              <div class ="check-button">
                <button type = "button" class ="buttonCheck"><span class="btn1">Chi tiết</span></button>
              </div>
              <div class ="choose-button">
                <button type = "button" class ="buttonChoose"><span class="btn1">Gửi</span></button>
              </div>  
            </div>
          </td>
        </tr>
        <tr>
          <td>Thiên Bảo</td>
          <td>Số 12B, đường Võ Văn Ngân</td>
          <td>
            <div class = "check-choose-buttons">
              <div class ="check-button">
                <button type = "button" class ="buttonCheck"><span class="btn1">Chi tiết</span></button>
              </div>
              <div class ="choose-button">
                <button type = "button" class ="buttonChoose"><span class="btn1">Gửi</span></button>
              </div>  
            </div>
          </td>
        </tr>
        <tr>
          <td>Minh Chuẩn</td>
          <td>Số 12B, đường Võ Văn Ngân</td>
          <td>
            <div class = "check-choose-buttons">
              <div class ="check-button">
                <button type = "button" class ="buttonCheck"><span class="btn1">Chi tiết</span></button>
              </div>
              <div class ="choose-button">
                <button type = "button" class ="buttonChoose"><span class="btn1">Gửi</span></button>
              </div>  
            </div>
          </td>
        </tr>
        <tr>
          <td>Như Ý</td>
          <td>Sao Hỏa</td>
          <td>
            <div class = "check-choose-buttons">
              <div class ="check-button">
                <button type = "button" class ="buttonCheck"><span class="btn1">Chi tiết</span></button>
              </div>
              <div class ="choose-button">
                <button type = "button" class ="buttonChoose"><span class="btn1">Gửi</span></button>
              </div>  
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {{!---------------------------}}
</div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!--=============== MAIN JS ===============-->
        {{!-- <script src="/js/main.js"></script> --}}
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
      
    </body>
</html>