<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Reset CSS --}}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" type="image/png" href="/img/logo01.png" />
    {{!-- MATERIAL ICONS FONT --}}
    <link rel="stylesheet" href="/material-icons/iconfont/material-icons.css">

    {{!-- BOXICONS --}}
    <link rel="stylesheet" href="/boxicons/css/boxicons.min.css">

    {{!-- FONTAWESOME --}}
    <link rel="stylesheet" href="/fontawesome/css/all.css">

    {{!-- BOOTSTRAP --}}
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">

    {{!-- DATA TABLE --}}
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    
    {{!-- SOFT UI DASHBOARD --}}
    <link rel="stylesheet" href="/css/soft-ui-dashboard.min.css">
    
    {{!-- CUSTOM CSS --}}
    <link rel="stylesheet" href="/css/admin/app.css">
    <link rel="stylesheet" href="/css/app.css">
    

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    {{!-- <script src="/js/plugins/countUp.min.js"></script> --}}
    <title>COVID-S</title>
</head>

<body>

    <div id="main-container">
        {{>admin_sidebar}}
        <div id="main">
            {{{body}}}
        </div>
    </div>



    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    {{!-- <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script> --}}
    <script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    {{!-- <script src="/js/soft-ui-dashboard.min.js"></script> --}}
    <script src="/vendor/wow/wow.min.js"></script>
    <!--=============== MAIN JS ===============-->
    <script src="/js/main.js"></script>
    <script src="/js/sidebar.js"></script>
    <script>
        $(document).ready(function () {
            $('#support-table').DataTable({ responsive: true });
            $('#volunteer-list').DataTable({ responsive: true });
            $('#volunteer-request').DataTable({ responsive: true });
        });
    </script>
</body>

</html>