<div class="main-container">
    {{>sidebar}}
    <div id="content-container" class="content-container">
        {{!-- Modal detail of doctor --}}
        <div class="dtr-profile-modal" id="dtr-detail-profile">
            <div class="img-file-dtr">
                <img src="upload/bacsi.png">
            </div>
            <div>
                <p>Tên bác sĩ: Nguyễn Thiên Bảo</p>
                <p>Nơi công tác: Bệnh Viện đa khoa Thủ Đức</p>
                <p>Chuyên khoa: Nội </p>
                <p>Số điện thoại: 01293748237</p>
                <p>Email: thienbaopro@gmail.com</p>
                <p>Trình độ học vấn: Tốt nghiệp đại học y dược HCM</p>
                <p>Mô tả: Bác sĩ bảo có hơn 15 năm kinh nghiệm khám chữa bệnh với hàng ngàn ca phẫu thuật thành công.
                    Ngoài ra, bác sĩ còn giành nhiều giải thưởng y học trong và ngoài nước.
                </p>
            </div>
            <button class='btn-out' onclick="outDetail()">Thoát</button>
        </div>
        <script>
            function dtrDetail() {
                var dtr = document.getElementById('dtr-detail-profile');
                dtr.setAttribute('style', 'display: block;');
            }
            function outDetail() {
                var dtr = document.getElementById('dtr-detail-profile');
                dtr.setAttribute('style', 'display: none;');
            }
        </script>
        {{!-- End of modal detail of doctor --}}
        
        <div class="dtr-center dtr-color">
            <h1 class="cls">Bác sĩ tư vấn</h1>
        </div>
        <div class="dtr_search">
            <div class="dtr-salign">
                <input type="text">
                <button><span class="fas fa-search"></span></button>
            </div>
            <div class="dtr-dropdown">
                <button class="btn-sort" onclick="">
                    <span class="fas fa-caret-down"></span>
                    <p>Sắp xếp theo</p>
                </button>
                <div class="index-drop-content">
                    <a href="#">Tên</a>
                    <a href="#">Chuyên Môn</a>
                    <a href="#">Nơi công tác</a>
                </div>
            </div>
        </div>

        <div class="dtr-contain">
            <div class="dtr-block">
                <div class="dtr-content1 dtr-color">
                    <h4 class="dtr-name">Bác sĩ <strong>Nguyễn Thiên Bảo</strong></h4>
                    <button class="dtr-detail-btn btn btn-light" onclick="dtrDetail()">Chi tiết</button>
                </div>
                <div class="dtr-content2 ">
                    <div>
                        <img class="dtr-photo" src="/upload/bacsi.png" alt="Bác sĩ" title="ảnh bác sĩ">
                    </div>
                    <div class="dtr-detail dtr-color">
                        <span class="far fa-id-card block-con">
                            <p>Chuyên khoa nội</p>
                        </span>
                        <span class="far fa-id-badge block-con">
                            <p>Trưởng khoa nội bệnh viện đa khoa Thủ Đức</p>
                        </span>
                        <span class="fas fa-phone-alt block-con">
                            <p>08921763736</p>
                        </span>
                        <span class="fas fa-award block-con">
                            <p>5+ năm kinh nghiệm</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="dtr-block">
                <div class="dtr-content1 dtr-color">
                    <h4 class="dtr-name">Bác sĩ <strong>Nguyễn Thiên Bảo</strong></h4>
                    <button class="dtr-detail-btn btn btn-light" onclick="dtrDetail()">Chi tiết</button>
                </div>
                <div class="dtr-content2 ">
                    <div>
                        <img class="dtr-photo" src="/upload/bacsi.png" alt="Bác sĩ" title="ảnh bác sĩ">
                    </div>
                    <div class="dtr-detail dtr-color">
                        <span class="far fa-id-card block-con">
                            <p>Chuyên khoa nội</p>
                        </span>
                        <span class="far fa-id-badge block-con">
                            <p>Trưởng khoa nội bệnh viện đa khoa Thủ Đức</p>
                        </span>
                        <span class="fas fa-phone-alt block-con">
                            <p>08921763736</p>
                        </span>
                        <span class="fas fa-award block-con">
                            <p>5+ năm kinh nghiệm</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="dtr-block">
                <div class="dtr-content1 dtr-color">
                    <h4 class="dtr-name">Bác sĩ <strong>Nguyễn Thiên Bảo</strong></h4>
                    <button class="dtr-detail-btn btn btn-light" onclick="dtrDetail()">Chi tiết</button>
                </div>
                <div class="dtr-content2 ">
                    <div>
                        <img class="dtr-photo" src="/upload/bacsi.png" alt="Bác sĩ" title="ảnh bác sĩ">
                    </div>
                    <div class="dtr-detail dtr-color">
                        <span class="far fa-id-card block-con">
                            <p>Chuyên khoa nội</p>
                        </span>
                        <span class="far fa-id-badge block-con">
                            <p>Trưởng khoa nội bệnh viện đa khoa Thủ Đức</p>
                        </span>
                        <span class="fas fa-phone-alt block-con">
                            <p>08921763736</p>
                        </span>
                        <span class="fas fa-award block-con">
                            <p>5+ năm kinh nghiệm</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="dtr-block">
                <div class="dtr-content1 dtr-color">
                    <h4 class="dtr-name">Bác sĩ <strong>Nguyễn Thiên Bảo</strong></h4>
                    <button class="dtr-detail-btn btn btn-light" onclick="dtrDetail()">Chi tiết</button>
                </div>
                <div class="dtr-content2 ">
                    <div>
                        <img class="dtr-photo" src="/upload/bacsi.png" alt="Bác sĩ" title="ảnh bác sĩ">
                    </div>
                    <div class="dtr-detail dtr-color">
                        <span class="far fa-id-card block-con">
                            <p>Chuyên khoa nội</p>
                        </span>
                        <span class="far fa-id-badge block-con">
                            <p>Trưởng khoa nội bệnh viện đa khoa Thủ Đức</p>
                        </span>
                        <span class="fas fa-phone-alt block-con">
                            <p>08921763736</p>
                        </span>
                        <span class="fas fa-award block-con">
                            <p>5+ năm kinh nghiệm</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/new_sidebar.js"></script>