<div class="profile-container">
    <div class="avatar-and-name">
        <form class="a-edit" action="" method="post" id="edit-profile-1">
            <img src="/upload/avatar.jpg" id="photo">
            <input type="file" id="file">
            <label for="file" id="uploadBtn">Choose Photo</label>
            <script src="/js/upload.js"></script>
        </form>

        <div class="profile-name">
            <h2>Nguyễn Thiên Bảo</h2>
            <h4>Người dùng</h4>
        </div>
    </div>

    {{!-- Begin infomation container --}}
    <div class="personal-info">
        <form action="#" method="POST" class="edit-profile" id="edit-profile-2">
            <div class="left-side">
                {{!-- Last Name --}}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Họ và tên lót</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>

                {{!-- First Name --}}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Tên</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>

                {{!-- Sex --}}
                <div class="sex-info">
                     <label>
                        <input type="radio" name="radio" checked />
                        <span>Nam</span>
                    </label>
                    <label>
                        <input type="radio" name="radio" />
                        <span>Nữ</span>
                    </label>
                    <label>
                        <input type="radio" name="radio" />
                        <span>Khác</span>
                    </label>
                </div>
                {{!-- Phone Number --}}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Số điện thoại</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Ngày sinh</span>
                        <input class="form-control" type="date" value="2018-11-23" id="example-date-input">
                    </div>
                </div>
            </div>

            <div class="right-side">
                <!-- Button trigger modal -->
                <button type="button" class="btn bg-gradient-info" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Địa chỉ</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Địa chỉ của bạn</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn bg-gradient-danger"
                                    data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- <div class="info">
                    <select name="district" id="district">
                        <option value="blank" selected>Quận/Huyện</option>
                        <option value="d1">Quận 1</option>
                        <option value="d2">Quận 2</option>
                        <option value="d4">Quận 4</option>
                        <option value="d5">Quận 5</option>
                        <option value="d6">Quận 6</option>
                        <option value="d7">Quận 7</option>
                        <option value="d8">Quận 8</option>
                    </select>
                </div>
                <div class="info">
                    <select name="town" id="town">
                        <option value="blank" selected>Phường/Xã</option>
                        <option value="t1">phường 1</option>
                        <option value="t2">phường 2</option>
                        <option value="t4">phường 4</option>
                        <option value="t5">phường 5</option>
                        <option value="t6">phường 6</option>
                        <option value="t7">phường 7</option>
                        <option value="t8">phường 8</option>
                    </select>
                </div>
                <div class="info">
                    <label for="house-number">Số nhà, đường, khu phố</label>
                    <input class="house-number" type="text" value="36, đường Lý Thường Kiệt" name="houseNumber">
                </div> --}}
                <div class="button-area">
                    <button class="save-profile-btn" type="submit">Lưu thay đổi</button>
                </div>
            </div>
        </form>
    </div>
    {{!-- End infomation container --}}
</div>