<div class="content-container" id="content-container">
    <div class="title">Danh sách đơn yêu cầu đã tiếp nhận</div><br>
    <div class="shipping-content">
        <table class="shipping-list">
            <tr>
                <th>Mã đơn</th>
                <th>Thời gian nhận</th>
                <th>Người nhận</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            <tbody>
                <tr>
                    <td>#1234</td>
                    <td>07:50AM 12/10/2021</td>
                    <td>
                        <div class="detail-buttons">Thúy Ngân</div>
                    </td>
                    <td>
                        <span class="badge bg-gradient-warning">Đã nhận</span>
                    </td>
                    <td>
                        <button type="button" class="button-detail">Chi tiết</button>
                    </td>
                </tr>
                <tr>
                    <td>#5678</td>
                    <td>08:03AM 12/10/2021</td>
                    <td>
                        <div class="detail-buttons">Thiên Bảo</div>
                    </td>
                    <td>
                        <span class="badge bg-gradient-success">Đang giao</span>
                    </td>
                    <td>
                        <button type="button" class="button-detail">Chi tiết</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <p class="shipping-note">*Đội tình nguyện viên sẽ cố gắng giao hàng sớm nhất có thể.</p>
</div>


