<div class="main-container">
    {{>sidebar}}
    <div class="content-container" id="content-container">
        <div class="shipping-title">Danh sách đơn yêu cầu đã tiếp nhận</div><br>
        <div class="shipping-content">
            <table class="shipping-list">
                <tr>
                    <th>Mã đơn</th>
                    <th>Thời gian nhận</th>
                    <th>Người nhận</th>
                    <th></th>
                </tr>
                <tbody>
                    <tr>
                        <td>#1234</td>
                        <td>7:50 12/10/2021</td>
                        <td>
                            <div class="detail-buttons">Thúy Ngân</div>
                        </td>
                        <td>
                            <button type="button" class="button-detail">Chi tiết</button>
                        </td>
                    </tr>
                    <tr>
                        <td>#5678</td>
                        <td>8:03 12/10/2021</td>
                        <td>
                            <div class="detail-buttons">Thiên Bảo</div>
                        </td>
                        <td>
                            <button type="button" class="button-detail">Chi tiết</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div><br>
        <p class="shipping-note">*Đội tình nguyện viên sẽ cố gắng giao hàng sớm nhất có thể.</p>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/new_sidebar.js"></script>